node-red-flow.json
[{"id":"d498b966.3334b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"304e6e48.3f0fb2","type":"group","z":"d498b966.3334b","name":"Water plants based on frequency of waterings","style":{"stroke":"#000000","fill":"#bfdbef","label":true,"color":"#000000"},"nodes":["438ad47d.653ee4","a91fc941.4c6588","55970bf.1bd48f4","bc04f1a1.65c118","16131562.4bb5cb","276b446.df8873c","b9c3c574.3cb67","c65ae465.9f58d8","75388eda.286af","27f5cf3e.cd436","50ec9b31.67e2c4","f95f5de4.6c71d8","209fd343.d3be1c","164b032f.8fa7ed","dd3b561.0ce6728","8f32a95a.25db88"],"x":14,"y":2393,"w":1678,"h":914},{"id":"dd3b561.0ce6728","type":"group","z":"d498b966.3334b","g":"304e6e48.3f0fb2","name":"Controlling pumps","style":{"stroke":"#000000","label":true,"fill":"#3f93cf","color":"#000000"},"nodes":["71cedd6e.bd4bfc","14fe2b70.aabe35","eaa2a3fd.d1872","e5eecf8.9c1a73","22fced60.b6a572","911629a3.c1276","7e24f010.617a08","1d21b84e.d47a28","a6610b55.930488","a07f2f43.eea98","903175a7.f37b1","8d4530dd.d2f7","d293b372.33d7c","b4de6174.40a2","9ecdad13.4c473","2fb0f818.237b98","25ef90a3.ac7188","21ec359e.841b42","eb1083cb.7fee5","9a45bf91.4a165","b7d539eb.1d6bd8","44488882.ec3618","7f82c517.9ce2cc","fa33beed.72eca","6fbbe64.023fd98","a2fbf345.bb10d8","a9552894.7c59a8","655725e7.c41f54","81f2bf8f.b04478","1f3fb4ba.6b64a3"],"x":954,"y":2419,"w":372,"h":862},{"id":"8f32a95a.25db88","type":"group","z":"d498b966.3334b","g":"304e6e48.3f0fb2","name":"Update last_watered in database","style":{"label":true,"stroke":"#000000","fill":"#9363b7","color":"#000000"},"nodes":["282b74db.791aac","9cabcc05.cacb1","901fe321.beb02","fcceb285.ef96a8","9a83f915.980628","d44d4b6.91e06b8","c33792d.f37777","97d339e0.f502a","e2116c9f.0f20e","5a37b07e.e711e8","e837e81b.3da728","4b861a8b.00ef64"],"x":1374,"y":2419,"w":292,"h":822},{"id":"534722c6.14fb14","type":"group","z":"d498b966.3334b","name":"Control lights","style":{"fill":"#ffffbf","label":true,"stroke":"#000000","color":"#000000"},"nodes":["2fb90332.0139ac","76d4460a.eb9f4","f3848b9c.e2a0e","292ee421.791f24","3d01dfd.012612","8f85f9e9.863238","5c1b690e.f1d83","e15361fe.6d8768","fe0b8019.d793e","f3f2cd03.189d18","2dcda958.8e3e6e","b87abd79.448f5","e93dbca3.974dd","4cd64ece.5fb29","52563b0b.7e97b4"],"x":14,"y":2079,"w":1392,"h":268},{"id":"52563b0b.7e97b4","type":"group","z":"d498b966.3334b","g":"534722c6.14fb14","name":"Toggle lights","style":{"stroke":"#000000","fill":"#ffff3f","label":true,"color":"#000000"},"nodes":["39ef6008.bf46b","27786da7.f05d22","ce8d6be5.303bb","768b48c3.a095b"],"x":954,"y":2119,"w":252,"h":202},{"id":"7c15569c.abe42","type":"group","z":"d498b966.3334b","name":"Change light time on/off settings","style":{"fill":"#dbcbe7","label":true,"stroke":"#000000","color":"#000000"},"nodes":["9c882b83.4bd8f8","4b2b2bd3.7eee94","694fdd34.6bc94c","45222843.0ed5f8","e852d22a.836c08","c24f8d04.33dee","b1491ab2.bcefc8","5644bc4e.593ebc","7d6b62ee.327d84","41e11425.d9ef4c","d317d27f.2c7768","4a98b6b2.f13b38","dfd394d7.c8b928","c3153a4e.6d58c","3ed4c5cc.d8f7aa","bea25d3e.2f979","604db7a4.ca34d8","e118db20.d3cac","a5521ef4.63d7a"],"x":14,"y":1839,"w":1372,"h":202},{"id":"805b6373.c7878","type":"group","z":"d498b966.3334b","name":"Add moisture measurement to database","style":{"fill":"#bfc7d7","label":true,"color":"#000000"},"nodes":["a0b0c22c.fc4d8","ac81a90b.486008","1c89e9b9.b46bde","e2074655.ff9808","cabadbbd.b1b518","b6349753.83453","65d3edee.7d1944","cbac8be7.0b3d","a757760a.cf6fe","88ea433a.fd0898","c5ffb655.8916b","63bf9f7c.f468c","7bd8168.af06ae8","e6cb858b.6b4e6","539ebcbc.22833c","91fd189d.b936a"],"x":14,"y":19,"w":912,"h":282},{"id":"badc4db8.33c0b8","type":"group","z":"d498b966.3334b","name":"Direct control over relay switches","style":{"label":true,"fill":"#000000","stroke":"#92d04f","color":"#92d04f"},"nodes":["19c81530.db2fb3","385090c7.dbbab","7a28c9fa.16e61","d67d7109.1a868","b5f91223.39459","93575f6c.1d9538","d421e6b4.6ece28","3516d501.a43ffa","5fc8c165.d5fb4","cfb5671b.c8daa","1bbd6092.441e47","7e8f2999.5f9e68","1794718f.239b7e","9f3f4bca.ba0d6","817333bd.9f911","fa73f5a9.47093","b5c609ff.430248","b1e97c2c.470098","25609536.457f12","cd2e852e.0d87","d2aea541.764d1","75df99f9.9950a","318d1f5.14cd66","91d452a4.33f99","72c169ae.59ccd8","958d2d50.876458"],"x":354,"y":4279,"w":1472,"h":322},{"id":"bb2f7191.92f92","type":"group","z":"d498b966.3334b","name":"Add plant to system","style":{"fill":"#dbcbe7","label":true,"color":"#000000"},"nodes":["af095fc9.412db","7436dfe3.9c3a38","ab315dc4.8cc708","877b21cd.a8acd","5a1e66c2.a6e258","df9461e2.2e3b48","35e2aabc.10306e","2ab5e2a2.bb0cc6","56dc3eaa.82dd18","ca008c37.220f68","daba906e.6fb8e","fb19afde.015f5","1b21a956.3204bf","8824eece.49c7f8","8cd05a1d.1c188","5d466ef8.98cd98","c1c59da3.165708","371955bd.63b26a","e6be2715.94201","d710b14f.03ce"],"x":14,"y":579,"w":1652,"h":282},{"id":"c268a84c.0312c8","type":"group","z":"d498b966.3334b","name":"Add humidity measurement to database","style":{"label":true,"fill":"#bfc7d7","color":"#000000"},"nodes":["379ad6b8.b12b7a","c74a1eb4.429708","785d7ece.e5434","757ff275.134e4c","6e34fe9b.343c7","83e61f9.f522be","50411ec8.2a82c","7c65b5ef.c8c28c","d549464d.264b68"],"x":914,"y":319,"w":852,"h":202},{"id":"d9a99a04.d4b21","type":"group","z":"d498b966.3334b","name":"Add temperature measurement to database","style":{"label":true,"fill":"#bfc7d7","color":"#000000"},"nodes":["3433b6f7.1035b2","c93ee150.06b4f","d674e427.7f99a8","22f494dd.994504","3e2b0b8d.01ba04","8b9edf69.aba428","7dbee384.19878c","8a33feff.3bd138","2d961332.306f6c"],"x":14,"y":319,"w":892,"h":202},{"id":"da77f0ba.8e0cb8","type":"group","z":"d498b966.3334b","name":"Assign moisture sensors to plants","style":{"fill":"#dbcbe7","label":true,"color":"#000000","stroke":"#a4a4a4"},"nodes":["d026106c.783fd8","7ffb8491.f5cecc","699117ee.25ba6","af413877.634e6","c4912b8f.ee3","43f8047e.7b02dc","9c1a8344.d9d05","a8857712.326218","16a1261c.15ce7a","f38480d0.35884","32cb7006.d582d8","485de9f4.679d78","a147a076.7accb8","f24b78f6.193c2","bc9ed331.e9648","a9a00db2.2452a","2cdb3326.de1594","b20d1ed5.8641d8","d6ad001b.7bd118","997b436b.f1bf"],"x":14,"y":979,"w":1152,"h":282},{"id":"dd217e88.6814c","type":"group","z":"d498b966.3334b","name":"Assign light to plant","style":{"stroke":"#000000","fill":"#dbcbe7","label":true,"color":"#000000"},"nodes":["39fcaa23.b05ec6","87f31b0c.9e6ee8","44dc816c.892c1","4643421f.4e2f04","63a8e906.5e093","c63f71a0.3e8a68","7f6bcee8.1e02a8","ea32428e.eab6f8","ed0b3c47.d0e8c8","d66d5d4f.3c5da8","2bc022c.19ad35e","b9bb56c8.f427c","795d6f69.9c1028","108a3875.1125f8","77d8fe9c.fa55a8","bd6dd85a.524ce8","ead3ec4d.8792f8","b0f9725b.f269a","992c10aa.7d4a08"],"x":14,"y":1273,"w":1778,"h":554},{"id":"ead3ec4d.8792f8","type":"group","z":"d498b966.3334b","g":"dd217e88.6814c","name":"Insert light","style":{"stroke":"#000000","fill":"#e3f3d3","label":true,"color":"#000000","label-position":"n"},"nodes":["7200f278.21cb74","6a2f7a13.65ea84","9ebabdcc.27b7d8","bb7f02ca.db96f8","4da57a8d.8772e4","63f9e9fd.9ec5a"],"x":714,"y":1359,"w":332,"h":382},{"id":"b0f9725b.f269a","type":"group","z":"d498b966.3334b","g":"dd217e88.6814c","name":"Delete light","style":{"label":true,"color":"#000000","stroke":"#000000","fill":"#ffbfbf","label-position":"n"},"nodes":["8e5aa2ed.7b9e08","8c4e2106.cd888","a827d786.faba9","901e4f74.ea2e8","1197f7d2.57dce","bd0d5b11.72b3b8"],"x":1414,"y":1419,"w":352,"h":382},{"id":"992c10aa.7d4a08","type":"group","z":"d498b966.3334b","g":"dd217e88.6814c","name":"Update plant","style":{"stroke":"#000000","fill":"#bfdbef","label":true,"label-position":"n","color":"#000000"},"nodes":["563de514.440abc","1a4ff34a.6351b5","359dae62.7c5f52","24576822.6c5cc8"],"x":1074,"y":1299,"w":312,"h":202},{"id":"e1e620fc.86d97","type":"group","z":"d498b966.3334b","name":"Display photograph of plants","style":{"stroke":"#000000","fill":"#ffefbf","label":true,"color":"#000000"},"nodes":["4dfb19.c5446ce8","1934a06b.240d08","c8f46051.1b20e","e1593d20.85c36","73538808.cbe06"],"x":14,"y":4279,"w":312,"h":322},{"id":"f4c36a5d.018128","type":"group","z":"d498b966.3334b","name":"Display plants","style":{"stroke":"#a4a4a4","label":true,"fill":"#dbcbe7","color":"#000000"},"nodes":["4c46c689.4ec3c","c3a03468.9dda88","d1356f56.855698","30ec42b9.4b70c6"],"x":14,"y":879,"w":812,"h":82},{"id":"f8ff2e26.454668","type":"group","z":"d498b966.3334b","name":"Water plants based on feedback loop","style":{"stroke":"#000000","fill":"#bfdbef","label":true,"color":"#000000"},"nodes":["503c68e4.092ba","63a651e4.f1de38","8b54476.b93c838","d2d07b4c.449388","ae1087d0.34e26","749b3aa1.fa67dc","ef27eda1.74f42","1d95c77e.6084f1","e5a7efc.e907f9","c9e41839.3f847","e6d1eb3e.dae2b8","a657ca27.ca8d88","3a394573.cf09e2","724e8b52.2d1614","80afc45d.dd63c","6816d0bb.4a872","f9c076e4.0bc7f","2fc2c10e.e4077e","c29da838.18e4d8","b6e2a29.8ddc8e","cc5b2dbe.b44fe","55cd723c.3dcd74","eaabff23.60d7a8","719e3f7d.c95b98","dba35ae0.9eb3c8","a9c56ca4.5d2318","8c044629.8e3cf8","e3524a13.c8a068"],"x":14,"y":3333,"w":1798,"h":914},{"id":"8c044629.8e3cf8","type":"group","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"Controlling pumps","style":{"stroke":"#000000","label":true,"fill":"#3f93cf","color":"#000000"},"nodes":["c116c6c7.55bcb","2adb3f04.e858b8","ce18ce30.5ddca8","276aa8ec.83c84","ffe440c5.c5bc98","65e1c9d8.e18ff8","f4089e84.d09f98","7a096c28.89a8c4","44a4a3a8.3baddc","dd7f6ccb.6bcac8","4718af52.7d5b98","4bf8b80.cb7f548","24102e99.12db3a","607048ae.f046d","afed436c.d412f8","388f98a3.bc1c1","c0af8f0f.326cf8","343755d5.b89392","fbbd988b.6a8a8","de337f14.f18ab","9d73bbb5.a35a38","345fe02f.2a0b68","30f1bcb7.f4b55c","e3142490.fb3bd8","90cef6c7.b8936","65662423.d2af2c","3903b4d5.4d2c5c","446b4dcb.af12ac","a220d703.85992","413cf099.565248"],"x":1074,"y":3359,"w":372,"h":862},{"id":"e3524a13.c8a068","type":"group","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"Update last_watered in database","style":{"label":true,"stroke":"#000000","fill":"#9363b7","color":"#000000"},"nodes":["8a9f3885.4b79e","9d861608.4c7588","d18372a3.ce6918","4711dbc2.86109c","108fade2.8df5fa","c2d4a5fd.555d5","b756d9b6.1c8698","f5d28465.b82dd8","59f59958.a08eb","f41bf4b.f63c588","6afea694.baecc","c1be87f2.1dc5a8"],"x":1494,"y":3359,"w":292,"h":822},{"id":"a0b0c22c.fc4d8","type":"mqtt in","z":"d498b966.3334b","g":"805b6373.c7878","name":"","topic":"sensor_data/moisture0","qos":"0","datatype":"auto","broker":"7bef8cd6.5aabe4","nl":false,"rap":true,"rh":0,"x":140,"y":80,"wires":[["539ebcbc.22833c"]]},{"id":"379ad6b8.b12b7a","type":"debug","z":"d498b966.3334b","g":"c268a84c.0312c8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":1370,"y":420,"wires":[]},{"id":"c74a1eb4.429708","type":"mqtt in","z":"d498b966.3334b","g":"c268a84c.0312c8","name":"","topic":"sensor_data/humidity","qos":"0","datatype":"auto","broker":"7bef8cd6.5aabe4","nl":false,"rap":true,"rh":0,"x":1040,"y":420,"wires":[["785d7ece.e5434","7c65b5ef.c8c28c"]]},{"id":"3433b6f7.1035b2","type":"debug","z":"d498b966.3334b","g":"d9a99a04.d4b21","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":490,"y":420,"wires":[]},{"id":"c93ee150.06b4f","type":"mqtt in","z":"d498b966.3334b","g":"d9a99a04.d4b21","name":"","topic":"sensor_data/temperature","qos":"0","datatype":"auto","broker":"7bef8cd6.5aabe4","nl":false,"rap":true,"rh":0,"x":150,"y":420,"wires":[["8a33feff.3bd138","d674e427.7f99a8","3433b6f7.1035b2"]]},{"id":"19c81530.db2fb3","type":"rpi-gpio out","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"toggle pump","pin":"13","set":true,"level":"1","freq":"","out":"out","bcm":true,"x":1010,"y":4500,"wires":[]},{"id":"af095fc9.412db","type":"ui_form","z":"d498b966.3334b","g":"bb2f7191.92f92","name":"Plant form","label":"","group":"eaa5af4.992ed5","order":0,"width":0,"height":0,"options":[{"label":"Plant nickname","value":"name","type":"text","required":true,"rows":null},{"label":"Last date plant was watered","value":"last_watered_date","type":"date","required":true,"rows":null},{"label":"Last time plant was watered","value":"last_watered_time","type":"time","required":true,"rows":null},{"label":"Number of hours between waterings","value":"frequency_of_waterings","type":"number","required":false,"rows":null},{"label":"Volume of water per watering (in milliliters)","value":"water_volume_per_watering","type":"number","required":false,"rows":null},{"label":"Target moisture (0 (dry) - 1000 (wet))","value":"target_moisture","type":"number","required":false,"rows":null}],"formValue":{"name":"","last_watered_date":"","last_watered_time":"","frequency_of_waterings":"","water_volume_per_watering":"","target_moisture":""},"payload":"","submit":"Add plant","cancel":"cancel","topic":"payload","topicType":"msg","splitLayout":"","className":"","x":110,"y":680,"wires":[["5a1e66c2.a6e258","2ab5e2a2.bb0cc6","fb19afde.015f5"]]},{"id":"ac81a90b.486008","type":"mqtt in","z":"d498b966.3334b","g":"805b6373.c7878","name":"","topic":"sensor_data/moisture1","qos":"0","datatype":"auto","broker":"7bef8cd6.5aabe4","nl":false,"rap":true,"rh":0,"x":140,"y":120,"wires":[["7bd8168.af06ae8"]]},{"id":"1c89e9b9.b46bde","type":"mqtt in","z":"d498b966.3334b","g":"805b6373.c7878","name":"","topic":"sensor_data/moisture2","qos":"0","datatype":"auto","broker":"7bef8cd6.5aabe4","nl":false,"rap":true,"rh":0,"x":140,"y":220,"wires":[["63bf9f7c.f468c"]]},{"id":"e2074655.ff9808","type":"mqtt in","z":"d498b966.3334b","g":"805b6373.c7878","name":"","topic":"sensor_data/moisture3","qos":"0","datatype":"auto","broker":"7bef8cd6.5aabe4","nl":false,"rap":true,"rh":0,"x":140,"y":260,"wires":[["e6cb858b.6b4e6"]]},{"id":"385090c7.dbbab","type":"ui_switch","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"","label":"gpio 13","tooltip":"","group":"5be02032.b6027","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":800,"y":4500,"wires":[["19c81530.db2fb3"]]},{"id":"7a28c9fa.16e61","type":"rpi-gpio out","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"toggle pump","pin":"6","set":true,"level":"1","freq":"","out":"out","bcm":true,"x":650,"y":4560,"wires":[]},{"id":"d67d7109.1a868","type":"ui_switch","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"","label":"gpio 6","tooltip":"","group":"5be02032.b6027","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":430,"y":4560,"wires":[["7a28c9fa.16e61"]]},{"id":"b5f91223.39459","type":"rpi-gpio out","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"toggle pump","pin":"5","set":true,"level":"1","freq":"","out":"out","bcm":true,"x":650,"y":4500,"wires":[]},{"id":"93575f6c.1d9538","type":"ui_switch","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"","label":"gpio 5 (no worky)","tooltip":"","group":"5be02032.b6027","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":470,"y":4500,"wires":[["b5f91223.39459"]]},{"id":"d421e6b4.6ece28","type":"rpi-gpio out","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"toggle pump","pin":"16","set":true,"level":"1","freq":"","out":"out","bcm":true,"x":1010,"y":4560,"wires":[]},{"id":"3516d501.a43ffa","type":"ui_switch","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"","label":"gpio 16","tooltip":"","group":"5be02032.b6027","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":800,"y":4560,"wires":[["d421e6b4.6ece28"]]},{"id":"5fc8c165.d5fb4","type":"rpi-gpio out","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"toggle pump","pin":"21","set":true,"level":"1","freq":"","out":"out","bcm":true,"x":1730,"y":4500,"wires":[]},{"id":"cfb5671b.c8daa","type":"ui_switch","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"","label":"gpio 21","tooltip":"","group":"5be02032.b6027","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1520,"y":4500,"wires":[["5fc8c165.d5fb4"]]},{"id":"1bbd6092.441e47","type":"rpi-gpio out","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"toggle pump","pin":"20","set":true,"level":"1","freq":"","out":"out","bcm":true,"x":1370,"y":4560,"wires":[]},{"id":"7e8f2999.5f9e68","type":"ui_switch","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"","label":"gpio 20","tooltip":"","group":"5be02032.b6027","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1160,"y":4560,"wires":[["1bbd6092.441e47"]]},{"id":"1794718f.239b7e","type":"rpi-gpio out","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"toggle pump","pin":"19","set":true,"level":"1","freq":"","out":"out","bcm":true,"x":1370,"y":4500,"wires":[]},{"id":"9f3f4bca.ba0d6","type":"ui_switch","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"","label":"gpio 19 (no worky)","tooltip":"","group":"5be02032.b6027","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1190,"y":4500,"wires":[["1794718f.239b7e"]]},{"id":"817333bd.9f911","type":"rpi-gpio out","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"toggle pump","pin":"26","set":true,"level":"1","freq":"","out":"out","bcm":true,"x":1730,"y":4560,"wires":[]},{"id":"fa73f5a9.47093","type":"ui_switch","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"","label":"gpio 26","tooltip":"","group":"5be02032.b6027","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"false","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"true","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1520,"y":4560,"wires":[["817333bd.9f911"]]},{"id":"7436dfe3.9c3a38","type":"function","z":"d498b966.3334b","g":"bb2f7191.92f92","name":"prepare insert statement","func":"//the join node will only continue when it gets a gpio pin.\n// if the user tries to add a plant to the system when there is no room,\n// they remove a plant, and then add one again, the previous forms for the plant still exist.\n\n//for this reason, we need to explicitly use the most recent form.\n\nplant_form_index = msg.payload.length-2;\ngpio_index = msg.payload.length-1;\n\n//get values from forms message\nname =          msg.payload[plant_form_index]   .name;\ndate = new Date(msg.payload[plant_form_index]   .last_watered_date);//this is a datetime. its time is 00:00:00:000\ntime = new Date(msg.payload[plant_form_index]   .last_watered_time);//this is a datetime. its date is 1970-01-01\nfrequency =     msg.payload[plant_form_index]   .frequency_of_waterings;\nvolume =        msg.payload[plant_form_index]   .water_volume_per_watering;\ntarget_moisture=msg.payload[plant_form_index]   .target_moisture;\n\ngpio_pin = msg.payload[gpio_index];\n\n//if the user entered a target_moisture, this overrides the frequency and volume of waterings, so they are nullified\n// if(target_moisture != undefined){\n//     frequency=\"NULL\";\n//     volume=\"NULL\";\n// }else{\n//     if(frequency == undefined){\n//         frequency=\"NULL\";\n//     }\n//     if(volume == undefined){\n//         volume=\"NULL\";\n//     }\n// }\n\n// fix issues caused by javascript being fucking stupid\ndate.setHours(date.getHours()+1);\n\n//make a correct datetime that sql understands\ndatetime = date;\ndatetime.setTime(datetime.getTime() + time.getTime());\ndatetime = datetime.toISOString().slice(0, 19).replace('T', ' ');\n\nvar query = \"INSERT INTO `plant` (`digital_output_pin`, `name`, `hours_between_waterings`, `last_watered`, `water_volume`, `light_id`, `target_moisture`) \" +\n\"VALUES( \" + gpio_pin + \", '\" + name + \"', \" + frequency + \", '\" + datetime + \"', \" + volume + \", NULL, \"+target_moisture+\" );\";\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":680,"wires":[["ab315dc4.8cc708","877b21cd.a8acd"]]},{"id":"ab315dc4.8cc708","type":"mysql","z":"d498b966.3334b","g":"bb2f7191.92f92","mydb":"9c4f683a.0fe408","name":"","x":1200,"y":680,"wires":[["371955bd.63b26a","c1c59da3.165708"]]},{"id":"877b21cd.a8acd","type":"debug","z":"d498b966.3334b","g":"bb2f7191.92f92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":740,"wires":[]},{"id":"5a1e66c2.a6e258","type":"debug","z":"d498b966.3334b","g":"bb2f7191.92f92","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":620,"wires":[]},{"id":"df9461e2.2e3b48","type":"comment","z":"d498b966.3334b","g":"bb2f7191.92f92","name":"Adding the plant to the database","info":"","x":1450,"y":640,"wires":[]},{"id":"35e2aabc.10306e","type":"comment","z":"d498b966.3334b","g":"bb2f7191.92f92","name":"Check if there's room for the plant","info":"","x":540,"y":640,"wires":[]},{"id":"2ab5e2a2.bb0cc6","type":"function","z":"d498b966.3334b","g":"bb2f7191.92f92","name":"prepare select statement","func":"var query = \"SELECT digital_output_pin FROM plant;\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":740,"wires":[["56dc3eaa.82dd18"]]},{"id":"56dc3eaa.82dd18","type":"mysql","z":"d498b966.3334b","g":"bb2f7191.92f92","mydb":"9c4f683a.0fe408","name":"return unavailable GPIO pins","x":160,"y":800,"wires":[["ca008c37.220f68","1b21a956.3204bf"]]},{"id":"ca008c37.220f68","type":"function","z":"d498b966.3334b","g":"bb2f7191.92f92","name":"figure out which pins are available","func":"//gpio 19 and 5 don't work \navailable_pins = [6,13,16,20,21,26]\n\n//remove pins that are currently in use\nfor (var i = 0; i < msg.payload.length; i++) {\n    const index = available_pins.indexOf(msg.payload[i].digital_output_pin);\n    available_pins.splice(index, 1); // 2nd parameter specifies that js should remove only one item\n}\n\n//check if there are no available pins\nif(available_pins.length < 1){\n    msg.nospace = true;\n}else{\n    msg.complete = \":)\";\n}\n\n//use the lowest pin number for the next plant\nmsg.payload = available_pins[0];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":740,"wires":[["fb19afde.015f5","8824eece.49c7f8","e6be2715.94201"]]},{"id":"daba906e.6fb8e","type":"debug","z":"d498b966.3334b","g":"bb2f7191.92f92","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":740,"wires":[]},{"id":"fb19afde.015f5","type":"join","z":"d498b966.3334b","g":"bb2f7191.92f92","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":730,"y":680,"wires":[["7436dfe3.9c3a38","daba906e.6fb8e"]]},{"id":"1b21a956.3204bf","type":"debug","z":"d498b966.3334b","g":"bb2f7191.92f92","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":800,"wires":[]},{"id":"8824eece.49c7f8","type":"debug","z":"d498b966.3334b","g":"bb2f7191.92f92","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":740,"wires":[]},{"id":"8cd05a1d.1c188","type":"comment","z":"d498b966.3334b","g":"bb2f7191.92f92","name":"no space for a plant - the flow stops here","info":"","x":920,"y":640,"wires":[]},{"id":"d674e427.7f99a8","type":"ui_gauge","z":"d498b966.3334b","g":"d9a99a04.d4b21","name":"","group":"6ca4c848.a08c08","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"10","max":"30","colors":["#0080ff","#00ff40","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":510,"y":360,"wires":[]},{"id":"785d7ece.e5434","type":"ui_gauge","z":"d498b966.3334b","g":"c268a84c.0312c8","name":"","group":"6ca4c848.a08c08","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1380,"y":360,"wires":[]},{"id":"757ff275.134e4c","type":"mysql","z":"d498b966.3334b","g":"c268a84c.0312c8","mydb":"9c4f683a.0fe408","name":"insert humidity","x":1660,"y":480,"wires":[[]]},{"id":"6e34fe9b.343c7","type":"function","z":"d498b966.3334b","g":"c268a84c.0312c8","name":"prepare insert statement","func":"//when the arduino stops sending data, there will be no measurements\nif(msg.payload.length==0){\n    return null;\n}\n\n//get value from payload\nhumidity = msg.payload[msg.payload.length-1];\n\n//get current date and time\nnow = new Date().toISOString().slice(0, 19).replace('T', ' ');\n\nvar query = \"INSERT INTO `humidity` (`measurement_datetime`, `units`) \" +\n\"VALUES( '\" + now + \"', '\" + humidity + \"' );\";\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1430,"y":480,"wires":[["757ff275.134e4c","83e61f9.f522be"]]},{"id":"83e61f9.f522be","type":"debug","z":"d498b966.3334b","g":"c268a84c.0312c8","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"topic","targetType":"msg","statusVal":"payload","statusType":"auto","x":1650,"y":420,"wires":[]},{"id":"22f494dd.994504","type":"function","z":"d498b966.3334b","g":"d9a99a04.d4b21","name":"prepare insert statement","func":"//when the arduino stops sending data, there will be no measurements\nif(msg.payload.length==0){\n    return null;\n}\n\n//get value from payload\ntemp = msg.payload[msg.payload.length-1];\n\n//get current date and time\nnow = new Date().toISOString().slice(0, 19).replace('T', ' ');\n\nvar query = \"INSERT INTO `temperature` (`measurement_datetime`, `units`) \" +\n\"VALUES( '\" + now + \"', '\" + temp + \"' );\";\n\nmsg.topic = query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":480,"wires":[["8b9edf69.aba428","3e2b0b8d.01ba04"]]},{"id":"3e2b0b8d.01ba04","type":"debug","z":"d498b966.3334b","g":"d9a99a04.d4b21","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"topic","targetType":"msg","statusVal":"payload","statusType":"auto","x":770,"y":420,"wires":[]},{"id":"8b9edf69.aba428","type":"mysql","z":"d498b966.3334b","g":"d9a99a04.d4b21","mydb":"9c4f683a.0fe408","name":"insert temperature","x":790,"y":480,"wires":[[]]},{"id":"cabadbbd.b1b518","type":"function","z":"d498b966.3334b","g":"805b6373.c7878","name":"create query","func":"//when the arduino stops sending data, there will be no measurements\nif(msg.payload.length==0){\n    return null;\n}\n\nmsg.sensor_id = msg.topic[msg.topic.length-1];\nmsg.measurement = msg.payload[msg.payload.length-1];\n\nvar query = \"SELECT plant_digital_output_pin FROM moisture_sensor WHERE sensor_id = \" + msg.sensor_id + \";\";\n\n// context.set('measurement',msg.payload);\n\nmsg.topic = query;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":180,"wires":[["b6349753.83453","a757760a.cf6fe"]]},{"id":"b6349753.83453","type":"mysql","z":"d498b966.3334b","g":"805b6373.c7878","mydb":"9c4f683a.0fe408","name":"find associated plant","x":600,"y":220,"wires":[["65d3edee.7d1944"]]},{"id":"65d3edee.7d1944","type":"function","z":"d498b966.3334b","g":"805b6373.c7878","name":"create query","func":"if(msg.payload[0] == undefined){\n    // if there is no plant associated with the moisture sensor, exit the flow\n    return null;\n}\n\n//get current date and time\nnow = new Date().toISOString().slice(0, 19).replace('T', ' ');\n\n//get sensor measurement and ID from flow context\nvar moisture = msg.measurement;\nvar sensor_id = msg.sensor_id;\n\nvar query = \"INSERT INTO `moisture` (`sensor_id`, `measurement_datetime`, `units`) \" +\n\"VALUES( \" + sensor_id + \", '\" + now + \"', \" + moisture + \" );\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":180,"wires":[["cbac8be7.0b3d"]]},{"id":"cbac8be7.0b3d","type":"mysql","z":"d498b966.3334b","g":"805b6373.c7878","mydb":"9c4f683a.0fe408","name":"add moisture","x":830,"y":220,"wires":[[]]},{"id":"5d466ef8.98cd98","type":"ui_toast","z":"d498b966.3334b","g":"bb2f7191.92f92","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"notify user that plant was added","x":1510,"y":800,"wires":[[]]},{"id":"d026106c.783fd8","type":"ui_dropdown","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","name":"","label":"Moisture sensor 0","tooltip":"","place":"Select plant GPIO pin","group":"bb6ff19c.3e51e","order":4,"width":"7","height":"2","passthru":true,"multiple":false,"options":[{"label":"Unassigned","value":"0,none","type":"str"},{"label":"GPIO pin 5","value":"0,5","type":"str"},{"label":"GPIO pin 6","value":"0,6","type":"str"},{"label":"GPIO pin 13","value":"0,13","type":"str"},{"label":"GPIO pin 16","value":"0,16","type":"str"},{"label":"GPIO pin 20","value":"0,20","type":"str"},{"label":"GPIO pin 21","value":"0,21","type":"str"},{"label":"GPIO pin 26","value":"0,26","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":130,"y":1040,"wires":[["c4912b8f.ee3"]]},{"id":"a757760a.cf6fe","type":"debug","z":"d498b966.3334b","g":"805b6373.c7878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":140,"wires":[]},{"id":"c1c59da3.165708","type":"debug","z":"d498b966.3334b","g":"bb2f7191.92f92","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1430,"y":680,"wires":[]},{"id":"371955bd.63b26a","type":"function","z":"d498b966.3334b","g":"bb2f7191.92f92","name":"","func":"if(msg.payload.affectedRows==0){\n    msg.topic=\"No Room\";\n    msg.payload = \"Plant table is full! The max quantity of plants is 8. To add more, remove another.\";\n}else{\n    msg.topic=\"Plant added!\";\n    msg.payload = \"Assign moisture sensors in the 'Assign moisture sensor' tab, and lights in the 'light' tab.\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":740,"wires":[["5d466ef8.98cd98","c1c59da3.165708"]]},{"id":"7ffb8491.f5cecc","type":"ui_dropdown","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","name":"","label":"Moisture sensor 1","tooltip":"","place":"Select plant GPIO pin","group":"bb6ff19c.3e51e","order":4,"width":"7","height":"2","passthru":true,"multiple":false,"options":[{"label":"Unassigned","value":"1,none","type":"str"},{"label":"GPIO pin 5","value":"1,5","type":"str"},{"label":"GPIO pin 6","value":"1,6","type":"str"},{"label":"GPIO pin 13","value":"1,13","type":"str"},{"label":"GPIO pin 16","value":"1,16","type":"str"},{"label":"GPIO pin 20","value":"1,20","type":"str"},{"label":"GPIO pin 21","value":"1,21","type":"str"},{"label":"GPIO pin 26","value":"1,26","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":130,"y":1100,"wires":[["c4912b8f.ee3"]]},{"id":"699117ee.25ba6","type":"ui_dropdown","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","name":"","label":"Moisture sensor 2","tooltip":"","place":"Select plant GPIO pin","group":"bb6ff19c.3e51e","order":4,"width":"7","height":"2","passthru":true,"multiple":false,"options":[{"label":"Unassigned","value":"2,none","type":"str"},{"label":"GPIO pin 5","value":"2,5","type":"str"},{"label":"GPIO pin 6","value":"2,6","type":"str"},{"label":"GPIO pin 13","value":"2,13","type":"str"},{"label":"GPIO pin 16","value":"2,16","type":"str"},{"label":"GPIO pin 20","value":"2,20","type":"str"},{"label":"GPIO pin 21","value":"2,21","type":"str"},{"label":"GPIO pin 26","value":"2,26","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":130,"y":1160,"wires":[["c4912b8f.ee3"]]},{"id":"af413877.634e6","type":"ui_dropdown","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","name":"","label":"Moisture sensor 3","tooltip":"","place":"Select plant GPIO pin","group":"bb6ff19c.3e51e","order":4,"width":"7","height":"2","passthru":true,"multiple":false,"options":[{"label":"Unassigned","value":"3,none","type":"str"},{"label":"GPIO pin 5","value":"3,5","type":"str"},{"label":"GPIO pin 6","value":"3,6","type":"str"},{"label":"GPIO pin 13","value":"3,13","type":"str"},{"label":"GPIO pin 16","value":"3,16","type":"str"},{"label":"GPIO pin 20","value":"3,20","type":"str"},{"label":"GPIO pin 21","value":"3,21","type":"str"},{"label":"GPIO pin 26","value":"3,26","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":130,"y":1220,"wires":[["c4912b8f.ee3"]]},{"id":"c4912b8f.ee3","type":"function","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","name":"prepare select statement","func":"items = msg.payload.split(',');\n\nmsg.moisture_sensor_id  = items[0];\nmsg.plant_gpio_pin      = items[1];\n\nvar query = \"SELECT * FROM moisture_sensor WHERE sensor_id = \" + msg.moisture_sensor_id + \";\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1040,"wires":[["43f8047e.7b02dc"]]},{"id":"43f8047e.7b02dc","type":"mysql","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","mydb":"9c4f683a.0fe408","name":"check if plant exists","x":410,"y":1100,"wires":[["9c1a8344.d9d05"]]},{"id":"9c1a8344.d9d05","type":"function","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","name":"prepare msg variables","func":"msg.topic = undefined;\n\nmsg.plant_exists = msg.payload.length > 0;\n\nmsg.delete_sensor = msg.plant_gpio_pin == \"none\";\n\n//if the sensor didnt exist, we dont need to delete measurements\nmsg.delete_measurements = msg.sensor_exists;\n\n//old sensor ID (needed to delete measurements associated with it)\nif(msg.sensor_exists){\n    msg.old_sensor_id = msg.payload[0].sensor_id;\n}\n\nif(msg.sensor_exists){\n    if(msg.payload[0].plant_digital_output_pin == msg.plant_gpio_pin){\n        return null; \n        //if the user attempts to change a sensors plant to the\n        //one its already assigned to, we dont want to continue\n        //as it would delete all the measurements taken for that\n        //plant; so we stop the flow.\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1160,"wires":[["a8857712.326218","485de9f4.679d78","f24b78f6.193c2","b20d1ed5.8641d8"]]},{"id":"a8857712.326218","type":"function","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","name":"prepare delete statement","func":"if(!msg.delete_measurements){\n    return null;//no need to delete measurements since they can not exist.\n}\n\nvar query = \"DELETE FROM moisture WHERE sensor_id = \" + msg.moisture_sensor_id + \";\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1040,"wires":[["f38480d0.35884"]]},{"id":"16a1261c.15ce7a","type":"comment","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","name":"check if moisture sensor is already in system","info":"","x":430,"y":1020,"wires":[]},{"id":"f38480d0.35884","type":"mysql","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","mydb":"9c4f683a.0fe408","name":"delete moisture measurements","x":1010,"y":1040,"wires":[[]]},{"id":"32cb7006.d582d8","type":"comment","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","name":"delete measurements","info":"","x":860,"y":1020,"wires":[]},{"id":"485de9f4.679d78","type":"function","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","name":"prepare delete statement","func":"if(!msg.delete_sensor){\n    return null;\n}\n\nvar query = \"DELETE FROM moisture_sensor WHERE sensor_id = \" + msg.moisture_sensor_id + \";\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1100,"wires":[["a147a076.7accb8"]]},{"id":"a147a076.7accb8","type":"mysql","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","mydb":"9c4f683a.0fe408","name":"delete sensor","x":960,"y":1100,"wires":[[]]},{"id":"f24b78f6.193c2","type":"function","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","name":"prepare insert statement","func":"if(msg.sensor_exists){\n    return null;\n    //no need to create new sensor\n}\n\nvar query = \"INSERT INTO `moisture_sensor`(`plant_digital_output_pin`, `sensor_id`) VALUES (\" + msg.plant_gpio_pin + \",\" + msg.moisture_sensor_id + \")\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1160,"wires":[["bc9ed331.e9648"]]},{"id":"bc9ed331.e9648","type":"mysql","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","mydb":"9c4f683a.0fe408","name":"insert sensor","x":950,"y":1160,"wires":[[]]},{"id":"a9a00db2.2452a","type":"comment","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","name":"delete sensor","info":"","x":870,"y":1080,"wires":[]},{"id":"2cdb3326.de1594","type":"comment","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","name":"insert sensor","info":"","x":870,"y":1140,"wires":[]},{"id":"b20d1ed5.8641d8","type":"function","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","name":"prepare update statement","func":"if(!msg.sensor_exists || msg.delete_sensor){\n    return null;\n    //only update when sensor exists and isnt being deleted.\n}\n\nvar query = \"UPDATE `moisture_sensor` SET `plant_digital_output_pin` = '\" + msg.plant_gpio_pin + \"' WHERE `moisture_sensor`.`sensor_id` = '\" + msg.moisture_sensor_id + \"';\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1220,"wires":[["d6ad001b.7bd118"]]},{"id":"d6ad001b.7bd118","type":"mysql","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","mydb":"9c4f683a.0fe408","name":"update sensor","x":960,"y":1220,"wires":[[]]},{"id":"997b436b.f1bf","type":"comment","z":"d498b966.3334b","g":"da77f0ba.8e0cb8","name":"update sensor","info":"","x":880,"y":1200,"wires":[]},{"id":"b5c609ff.430248","type":"mqtt out","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"lights/light0/POWER","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7bef8cd6.5aabe4","x":680,"y":4320,"wires":[]},{"id":"b1e97c2c.470098","type":"ui_switch","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"","label":"switch0","tooltip":"","group":"d70dbf53.f9519","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"lights/light0/cmnd/POWER","topicType":"str","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":440,"y":4320,"wires":[[]]},{"id":"25609536.457f12","type":"mqtt in","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"","topic":"lights/light0/SENSOR","qos":"2","datatype":"auto","broker":"7bef8cd6.5aabe4","nl":false,"rap":true,"rh":0,"x":500,"y":4440,"wires":[["cd2e852e.0d87"]]},{"id":"cd2e852e.0d87","type":"debug","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":4440,"wires":[]},{"id":"d2aea541.764d1","type":"mqtt out","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"lights/light1/POWER","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7bef8cd6.5aabe4","x":1100,"y":4320,"wires":[]},{"id":"75df99f9.9950a","type":"ui_switch","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"","label":"switch1","tooltip":"","group":"d70dbf53.f9519","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"lights/light1/cmnd/POWER","topicType":"str","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":860,"y":4320,"wires":[[]]},{"id":"318d1f5.14cd66","type":"mqtt out","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"lights/light2/POWER","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7bef8cd6.5aabe4","x":1100,"y":4380,"wires":[]},{"id":"91d452a4.33f99","type":"ui_switch","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"","label":"switch2","tooltip":"","group":"d70dbf53.f9519","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"lights/light2/cmnd/POWER","topicType":"str","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":860,"y":4380,"wires":[[]]},{"id":"72c169ae.59ccd8","type":"mqtt out","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"lights/light3/POWER","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7bef8cd6.5aabe4","x":680,"y":4380,"wires":[]},{"id":"958d2d50.876458","type":"ui_switch","z":"d498b966.3334b","d":true,"g":"badc4db8.33c0b8","name":"","label":"switch3","tooltip":"","group":"d70dbf53.f9519","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"lights/light3/cmnd/POWER","topicType":"str","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":440,"y":4380,"wires":[[]]},{"id":"30ec42b9.4b70c6","type":"ui_table","z":"d498b966.3334b","g":"f4c36a5d.018128","group":"ebcddff6.a75cf","name":"","order":1,"width":"12","height":"8","columns":[],"outputs":0,"cts":false,"x":750,"y":920,"wires":[]},{"id":"4c46c689.4ec3c","type":"mysql","z":"d498b966.3334b","g":"f4c36a5d.018128","mydb":"9c4f683a.0fe408","name":"return all plants","x":580,"y":920,"wires":[["30ec42b9.4b70c6"]]},{"id":"c3a03468.9dda88","type":"function","z":"d498b966.3334b","g":"f4c36a5d.018128","name":"prepare select statement","func":"var query = \"SELECT * FROM plant;\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":920,"wires":[["4c46c689.4ec3c"]]},{"id":"d1356f56.855698","type":"ui_button","z":"d498b966.3334b","g":"f4c36a5d.018128","name":"update plants","group":"ebcddff6.a75cf","order":3,"width":0,"height":0,"passthru":false,"label":"update plants","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":920,"wires":[["c3a03468.9dda88"]]},{"id":"e6be2715.94201","type":"function","z":"d498b966.3334b","g":"bb2f7191.92f92","name":"create message","func":"if(msg.nospace){\n    msg.topic=\"No room for a new plant.\";\n    msg.payload=\"There are already 7 plants in the system and there is no room for another. You can create room by deleting a plant.\";\n    return msg;\n}else{\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":820,"wires":[["d710b14f.03ce"]]},{"id":"d710b14f.03ce","type":"ui_toast","z":"d498b966.3334b","g":"bb2f7191.92f92","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"notify user that theres no space for another plant","x":1090,"y":820,"wires":[[]]},{"id":"39fcaa23.b05ec6","type":"ui_dropdown","z":"d498b966.3334b","g":"dd217e88.6814c","name":"","label":"Plant 5","tooltip":"","place":"Select light associated with plant","group":"927ec1cd.f6b488","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Unassigned","value":"5,none","type":"str"},{"label":"Light 0","value":"5,0","type":"str"},{"label":"Light 1","value":"5,1","type":"str"},{"label":"Light 2","value":"5,2","type":"str"},{"label":"Light 3","value":"5,3","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":100,"y":1340,"wires":[["87f31b0c.9e6ee8"]]},{"id":"87f31b0c.9e6ee8","type":"function","z":"d498b966.3334b","g":"dd217e88.6814c","name":"prepare select statement","func":"items = msg.payload.split(',');\n\nmsg.plant_gpio_pin  = items[0];\nmsg.light_id        = items[1];\n\n\nvar query = \"SELECT * FROM plant WHERE digital_output_pin = \" + msg.plant_gpio_pin + \";\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1340,"wires":[["44dc816c.892c1"]]},{"id":"44dc816c.892c1","type":"mysql","z":"d498b966.3334b","g":"dd217e88.6814c","mydb":"9c4f683a.0fe408","name":"get plants","x":300,"y":1400,"wires":[["4643421f.4e2f04"]]},{"id":"4643421f.4e2f04","type":"function","z":"d498b966.3334b","g":"dd217e88.6814c","name":"prepare msg variables","func":"msg.topic = undefined;\n\nmsg.plant_exists = msg.payload.length > 0;\n\n\nif(msg.plant_exists){\n    \n    msg.old_light_id = msg.payload[0].light_id;\n    //old sensor ID (needed to delete measurements associated with it)\n    \n    if(msg.payload[0].light_id == msg.light_id){\n        return null; \n        //if the user attempts to change a plants light to the\n        //one its already assigned to, we dont want to continue\n        //as it would accomplish nothing; so we stop the flow.\n    }\n}\nmsg.topic       = undefined;\nmsg.payload     = undefined;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":1460,"wires":[["795d6f69.9c1028","77d8fe9c.fa55a8"]]},{"id":"63a8e906.5e093","type":"comment","z":"d498b966.3334b","g":"dd217e88.6814c","name":"check if lighting profile is already in system","info":"","x":340,"y":1320,"wires":[]},{"id":"8e5aa2ed.7b9e08","type":"function","z":"d498b966.3334b","g":"b0f9725b.f269a","name":"prepare delete statement","func":"var query = \"DELETE FROM light WHERE id = \" + msg.old_light_id + \";\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":1700,"wires":[["8c4e2106.cd888"]]},{"id":"8c4e2106.cd888","type":"mysql","z":"d498b966.3334b","g":"b0f9725b.f269a","mydb":"9c4f683a.0fe408","name":"delete light","x":1510,"y":1760,"wires":[[]]},{"id":"7200f278.21cb74","type":"function","z":"d498b966.3334b","g":"ead3ec4d.8792f8","name":"prepare insert statement","func":"var query = \"INSERT INTO `light`(`id`, `turn_on`, `turn_off`) VALUES (\" + msg.light_id + \",NULL,NULL);\";\n// user will need to assign the light its turn_on and turn_off times later.\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":1640,"wires":[["6a2f7a13.65ea84"]]},{"id":"6a2f7a13.65ea84","type":"mysql","z":"d498b966.3334b","g":"ead3ec4d.8792f8","mydb":"9c4f683a.0fe408","name":"insert light","x":810,"y":1700,"wires":[[]]},{"id":"563de514.440abc","type":"function","z":"d498b966.3334b","g":"992c10aa.7d4a08","name":"prepare update statement","func":"if(msg.light_id == \"none\"){\n    msg.light_id = \"NULL\";\n}\n\nvar query = \"UPDATE `plant` SET `light_id` = \" + msg.light_id + \" WHERE digital_output_pin = \" + msg.plant_gpio_pin + \";\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":1400,"wires":[["1a4ff34a.6351b5","bd6dd85a.524ce8"]]},{"id":"1a4ff34a.6351b5","type":"mysql","z":"d498b966.3334b","g":"992c10aa.7d4a08","mydb":"9c4f683a.0fe408","name":"update sensor","x":1180,"y":1460,"wires":[["a827d786.faba9"]]},{"id":"c63f71a0.3e8a68","type":"ui_dropdown","z":"d498b966.3334b","g":"dd217e88.6814c","name":"","label":"Plant 6","tooltip":"","place":"Select light associated with plant","group":"927ec1cd.f6b488","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Unassigned","value":"6,none","type":"str"},{"label":"Light 0","value":"6,0","type":"str"},{"label":"Light 1","value":"6,1","type":"str"},{"label":"Light 2","value":"6,2","type":"str"},{"label":"Light 3","value":"6,3","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":100,"y":1380,"wires":[["87f31b0c.9e6ee8"]]},{"id":"7f6bcee8.1e02a8","type":"ui_dropdown","z":"d498b966.3334b","g":"dd217e88.6814c","name":"","label":"Plant 13","tooltip":"","place":"Select light associated with plant","group":"927ec1cd.f6b488","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Unassigned","value":"13,none","type":"str"},{"label":"Light 0","value":"13,0","type":"str"},{"label":"Light 1","value":"13,1","type":"str"},{"label":"Light 2","value":"13,2","type":"str"},{"label":"Light 3","value":"13,3","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":100,"y":1420,"wires":[["87f31b0c.9e6ee8"]]},{"id":"ea32428e.eab6f8","type":"ui_dropdown","z":"d498b966.3334b","g":"dd217e88.6814c","name":"","label":"Plant 16","tooltip":"","place":"Select light associated with plant","group":"927ec1cd.f6b488","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Unassigned","value":"16,none","type":"str"},{"label":"Light 0","value":"16,0","type":"str"},{"label":"Light 1","value":"16,1","type":"str"},{"label":"Light 2","value":"16,2","type":"str"},{"label":"Light 3","value":"16,3","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":100,"y":1460,"wires":[["87f31b0c.9e6ee8"]]},{"id":"ed0b3c47.d0e8c8","type":"ui_dropdown","z":"d498b966.3334b","g":"dd217e88.6814c","name":"","label":"Plant 20","tooltip":"","place":"Select light associated with plant","group":"927ec1cd.f6b488","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Unassigned","value":"20,none","type":"str"},{"label":"Light 0","value":"20,0","type":"str"},{"label":"Light 1","value":"20,1","type":"str"},{"label":"Light 2","value":"20,2","type":"str"},{"label":"Light 3","value":"20,3","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":100,"y":1500,"wires":[["87f31b0c.9e6ee8"]]},{"id":"d66d5d4f.3c5da8","type":"ui_dropdown","z":"d498b966.3334b","g":"dd217e88.6814c","name":"","label":"Plant 21","tooltip":"","place":"Select light associated with plant","group":"927ec1cd.f6b488","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Unassigned","value":"21,none","type":"str"},{"label":"Light 0","value":"21,0","type":"str"},{"label":"Light 1","value":"21,1","type":"str"},{"label":"Light 2","value":"21,2","type":"str"},{"label":"Light 3","value":"21,3","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":100,"y":1540,"wires":[["87f31b0c.9e6ee8"]]},{"id":"2bc022c.19ad35e","type":"ui_dropdown","z":"d498b966.3334b","g":"dd217e88.6814c","name":"","label":"Plant 26","tooltip":"","place":"Select light associated with plant","group":"927ec1cd.f6b488","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Unassigned","value":"26,none","type":"str"},{"label":"Light 0","value":"26,0","type":"str"},{"label":"Light 1","value":"26,1","type":"str"},{"label":"Light 2","value":"26,2","type":"str"},{"label":"Light 3","value":"26,3","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":100,"y":1580,"wires":[["87f31b0c.9e6ee8"]]},{"id":"b9bb56c8.f427c","type":"ui_text","z":"d498b966.3334b","g":"dd217e88.6814c","group":"5835b8.d911b248","order":8,"width":0,"height":0,"name":"","label":"A light can be used for multiple plants, but a plant cannot be associated with 2 lights.","format":"","layout":"row-spread","className":"","x":340,"y":1640,"wires":[]},{"id":"795d6f69.9c1028","type":"function","z":"d498b966.3334b","g":"dd217e88.6814c","name":"continue if no plant","func":"if(msg.plant_exists){\n    return null;\n}\n\nmsg.topic=\"Plant does not exist\";\nmsg.payload = \"Add this plant to the system in the 'Add Plants' tab to assign a light to it.\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":1520,"wires":[["108a3875.1125f8"]]},{"id":"108a3875.1125f8","type":"ui_toast","z":"d498b966.3334b","g":"dd217e88.6814c","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"notify user that plant doesn't exist","x":380,"y":1580,"wires":[[]]},{"id":"77d8fe9c.fa55a8","type":"function","z":"d498b966.3334b","g":"dd217e88.6814c","name":"stop if no plant","func":"if(!msg.plant_exists){\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1340,"wires":[["9ebabdcc.27b7d8","359dae62.7c5f52"]]},{"id":"9c882b83.4bd8f8","type":"ui_form","z":"d498b966.3334b","g":"7c15569c.abe42","name":"Light form","label":"Light 0","group":"5a92952e.3e5134","order":0,"width":0,"height":0,"options":[{"label":"Turn the light on","value":"light_on","type":"time","required":true,"rows":null},{"label":"Turn the light off","value":"light_off","type":"time","required":true,"rows":null}],"formValue":{"light_on":"","light_off":""},"payload":"","submit":"Add light","cancel":"cancel","topic":"payload","topicType":"msg","splitLayout":"","className":"","x":100,"y":1880,"wires":[["694fdd34.6bc94c"]]},{"id":"4b2b2bd3.7eee94","type":"debug","z":"d498b966.3334b","g":"7c15569c.abe42","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":1880,"wires":[]},{"id":"694fdd34.6bc94c","type":"function","z":"d498b966.3334b","g":"7c15569c.abe42","name":"specify light_id","func":"msg.light_id = 0;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":1880,"wires":[["41e11425.d9ef4c"]]},{"id":"9ebabdcc.27b7d8","type":"function","z":"d498b966.3334b","g":"ead3ec4d.8792f8","name":"check if insertion not required","func":"if(msg.light_id == \"none\"){\n    //we only need to check if we need to insert a light if the\n    //user selected a light for the plant.\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":1400,"wires":[["bb7f02ca.db96f8"]]},{"id":"bb7f02ca.db96f8","type":"function","z":"d498b966.3334b","g":"ead3ec4d.8792f8","name":"prepare select statement","func":"var query = \"SELECT * FROM plant WHERE light_id = \" + msg.light_id + \";\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":1460,"wires":[["4da57a8d.8772e4"]]},{"id":"4da57a8d.8772e4","type":"mysql","z":"d498b966.3334b","g":"ead3ec4d.8792f8","mydb":"9c4f683a.0fe408","name":"count plants using light","x":850,"y":1520,"wires":[["63f9e9fd.9ec5a"]]},{"id":"63f9e9fd.9ec5a","type":"function","z":"d498b966.3334b","g":"ead3ec4d.8792f8","name":"check if light needs to be inserted","func":"plants_using_light = msg.payload.length;\n\nif(plants_using_light != 0){\n    return null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":1580,"wires":[["7200f278.21cb74"]]},{"id":"359dae62.7c5f52","type":"delay","z":"d498b966.3334b","g":"992c10aa.7d4a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":1340,"wires":[["563de514.440abc"]]},{"id":"a827d786.faba9","type":"function","z":"d498b966.3334b","g":"b0f9725b.f269a","name":"check if deletion not required","func":"msg.payload = undefined;\nmsg.topic = undefined;\n\nif(msg.old_light_id == \"none\"){\n    // since there was no previous light for this plant, we do not\n    // need to check if that light needs to be deleted\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":1460,"wires":[["901e4f74.ea2e8"]]},{"id":"901e4f74.ea2e8","type":"function","z":"d498b966.3334b","g":"b0f9725b.f269a","name":"prepare select statement","func":"var query = \"SELECT * FROM plant WHERE light_id = \" + msg.old_light_id + \";\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":1520,"wires":[["1197f7d2.57dce"]]},{"id":"1197f7d2.57dce","type":"mysql","z":"d498b966.3334b","g":"b0f9725b.f269a","mydb":"9c4f683a.0fe408","name":"count plants using light","x":1550,"y":1580,"wires":[["bd0d5b11.72b3b8"]]},{"id":"bd0d5b11.72b3b8","type":"function","z":"d498b966.3334b","g":"b0f9725b.f269a","name":"check if old light should be removed","func":"plants_using_light = msg.payload.length;\n\nmsg.delete_light = plants_using_light == 0;\n\nif(!msg.delete_light){\n    return null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1590,"y":1640,"wires":[["8e5aa2ed.7b9e08"]]},{"id":"24576822.6c5cc8","type":"comment","z":"d498b966.3334b","g":"992c10aa.7d4a08","name":"delay","info":"Since we may need to wait until a light is inserted into the table before referencing that light in the plant table, we just wait 2 seconds before attempting to update the plant.","x":1310,"y":1340,"wires":[]},{"id":"45222843.0ed5f8","type":"ui_form","z":"d498b966.3334b","g":"7c15569c.abe42","name":"Light form","label":"Light 1","group":"5a92952e.3e5134","order":0,"width":0,"height":0,"options":[{"label":"Turn the light on","value":"light_on","type":"time","required":true,"rows":null},{"label":"Turn the light off","value":"light_off","type":"time","required":true,"rows":null}],"formValue":{"light_on":"","light_off":""},"payload":"","submit":"Add light","cancel":"cancel","topic":"payload","topicType":"msg","splitLayout":"","className":"","x":100,"y":1920,"wires":[["b1491ab2.bcefc8"]]},{"id":"e852d22a.836c08","type":"ui_form","z":"d498b966.3334b","g":"7c15569c.abe42","name":"Light form","label":"Light 2","group":"5a92952e.3e5134","order":0,"width":0,"height":0,"options":[{"label":"Turn the light on","value":"light_on","type":"time","required":true,"rows":null},{"label":"Turn the light off","value":"light_off","type":"time","required":true,"rows":null}],"formValue":{"light_on":"","light_off":""},"payload":"","submit":"Add light","cancel":"cancel","topic":"payload","topicType":"msg","splitLayout":"","className":"","x":100,"y":1960,"wires":[["5644bc4e.593ebc"]]},{"id":"c24f8d04.33dee","type":"ui_form","z":"d498b966.3334b","g":"7c15569c.abe42","name":"Light form","label":"Light 3","group":"5a92952e.3e5134","order":0,"width":0,"height":0,"options":[{"label":"Turn the light on","value":"light_on","type":"time","required":true,"rows":null},{"label":"Turn the light off","value":"light_off","type":"time","required":true,"rows":null}],"formValue":{"light_on":"","light_off":""},"payload":"","submit":"Add light","cancel":"cancel","topic":"payload","topicType":"msg","splitLayout":"","className":"","x":100,"y":2000,"wires":[["7d6b62ee.327d84"]]},{"id":"bd6dd85a.524ce8","type":"debug","z":"d498b966.3334b","g":"dd217e88.6814c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":1400,"wires":[]},{"id":"b1491ab2.bcefc8","type":"function","z":"d498b966.3334b","g":"7c15569c.abe42","name":"specify light_id","func":"msg.light_id = 1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":1920,"wires":[["41e11425.d9ef4c"]]},{"id":"5644bc4e.593ebc","type":"function","z":"d498b966.3334b","g":"7c15569c.abe42","name":"specify light_id","func":"msg.light_id = 2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":1960,"wires":[["41e11425.d9ef4c"]]},{"id":"7d6b62ee.327d84","type":"function","z":"d498b966.3334b","g":"7c15569c.abe42","name":"specify light_id","func":"msg.light_id = 3;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":2000,"wires":[["41e11425.d9ef4c"]]},{"id":"41e11425.d9ef4c","type":"function","z":"d498b966.3334b","g":"7c15569c.abe42","name":"create select statement","func":"msg.light_on     = new Date(msg.payload.light_on).toLocaleTimeString('en-GB');\nmsg.light_off    = new Date(msg.payload.light_off).toLocaleTimeString('en-GB');\n\nquery = \"SELECT * FROM light WHERE id = \" + msg.light_id + \";\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":1880,"wires":[["d317d27f.2c7768"]]},{"id":"d317d27f.2c7768","type":"mysql","z":"d498b966.3334b","g":"7c15569c.abe42","mydb":"9c4f683a.0fe408","name":"check if light exists","x":550,"y":1920,"wires":[["4a98b6b2.f13b38"]]},{"id":"4a98b6b2.f13b38","type":"function","z":"d498b966.3334b","g":"7c15569c.abe42","name":"set msg variable","func":"msg.light_exists = msg.payload.length == 1;\n\nmsg.topic=undefined;\nmsg.payload=undefined;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1960,"wires":[["dfd394d7.c8b928","c3153a4e.6d58c","e118db20.d3cac"]]},{"id":"dfd394d7.c8b928","type":"function","z":"d498b966.3334b","g":"7c15569c.abe42","name":"stop if light exists","func":"if(!msg.light_exists){\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":1880,"wires":[["604db7a4.ca34d8"]]},{"id":"c3153a4e.6d58c","type":"function","z":"d498b966.3334b","g":"7c15569c.abe42","name":"continue if light exists","func":"if(msg.light_exists){\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":1920,"wires":[["3ed4c5cc.d8f7aa"]]},{"id":"3ed4c5cc.d8f7aa","type":"function","z":"d498b966.3334b","g":"7c15569c.abe42","name":"create message","func":"msg.topic=\"Light does not exist.\";\nmsg.payload=\"First, assign this light to a plant on the right before you specify the lights on/off cycle.\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":1960,"wires":[["bea25d3e.2f979"]]},{"id":"bea25d3e.2f979","type":"ui_toast","z":"d498b966.3334b","g":"7c15569c.abe42","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"tell user to add light first","x":850,"y":2000,"wires":[[]]},{"id":"604db7a4.ca34d8","type":"function","z":"d498b966.3334b","g":"7c15569c.abe42","name":"create update statement","func":"var query = \"UPDATE `light` SET `turn_on`='\" + msg.light_on + \"',`turn_off`='\" + msg.light_off + \"' WHERE id = \" + msg.light_id + \";\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":1880,"wires":[["4b2b2bd3.7eee94","a5521ef4.63d7a"]]},{"id":"e118db20.d3cac","type":"debug","z":"d498b966.3334b","g":"7c15569c.abe42","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":2000,"wires":[]},{"id":"a5521ef4.63d7a","type":"mysql","z":"d498b966.3334b","g":"7c15569c.abe42","mydb":"9c4f683a.0fe408","name":"update light","x":1070,"y":1920,"wires":[[]]},{"id":"2fb90332.0139ac","type":"inject","z":"d498b966.3334b","g":"534722c6.14fb14","name":"","props":[],"repeat":"10","crontab":"","once":true,"onceDelay":"8","topic":"","x":110,"y":2120,"wires":[["f3848b9c.e2a0e"]]},{"id":"76d4460a.eb9f4","type":"debug","z":"d498b966.3334b","g":"534722c6.14fb14","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":2120,"wires":[]},{"id":"f3848b9c.e2a0e","type":"function","z":"d498b966.3334b","g":"534722c6.14fb14","name":"prepare select statement","func":"msg.current_time = msg.payload;\n\nvar query = \"SELECT * FROM light;\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":2160,"wires":[["292ee421.791f24"]]},{"id":"292ee421.791f24","type":"mysql","z":"d498b966.3334b","g":"534722c6.14fb14","mydb":"9c4f683a.0fe408","name":"get lights","x":300,"y":2220,"wires":[["3d01dfd.012612"]]},{"id":"3d01dfd.012612","type":"function","z":"d498b966.3334b","g":"534722c6.14fb14","name":"decide which lights should be on","func":"for(i =  0; i < msg.payload.length; i++){\n    \n    if(msg.payload[i].turn_on == null || msg.payload[i].turn_off == null){\n        light_should_be_on = false;\n    }else{\n        \n        time_on_sql     = msg.payload[i].turn_on.split(':');\n        time_off_sql    = msg.payload[i].turn_off.split(':');\n        \n        time_on = new Date();\n        time_on.setHours(   time_on_sql[0]);\n        time_on.setMinutes( time_on_sql[1]);\n        \n        time_off = new Date();\n        time_off.setHours(  time_off_sql[0]);\n        time_off.setMinutes(time_off_sql[1]);\n        \n        time_now = new Date();\n        \n        if(time_on < time_off){\n            light_should_be_on = time_now > time_on && time_now < time_off;\n        }else{\n            light_should_be_on = time_now < time_on != time_now > time_off;\n        }\n    }\n    \n    // asign msg variables\n    switch (msg.payload[i].id) {\n        case 0:\n            msg.light0 = light_should_be_on;\n            break;\n        case 1:\n            msg.light1 = light_should_be_on;\n            break;\n        case 2:\n            msg.light2 = light_should_be_on;\n            break;\n        case 3:\n            msg.light3 = light_should_be_on;\n            break;\n        default:\n            msg.very_strange = \"This shouldnt happen...\";\n            break;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":2280,"wires":[["76d4460a.eb9f4","8f85f9e9.863238","5c1b690e.f1d83","e15361fe.6d8768","fe0b8019.d793e"]]},{"id":"39ef6008.bf46b","type":"mqtt out","z":"d498b966.3334b","g":"52563b0b.7e97b4","name":"lights/light0/POWER","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7bef8cd6.5aabe4","x":1080,"y":2160,"wires":[]},{"id":"768b48c3.a095b","type":"mqtt out","z":"d498b966.3334b","g":"52563b0b.7e97b4","name":"lights/light3/POWER","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7bef8cd6.5aabe4","x":1080,"y":2280,"wires":[]},{"id":"27786da7.f05d22","type":"mqtt out","z":"d498b966.3334b","g":"52563b0b.7e97b4","name":"lights/light1/POWER","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7bef8cd6.5aabe4","x":1080,"y":2200,"wires":[]},{"id":"ce8d6be5.303bb","type":"mqtt out","z":"d498b966.3334b","g":"52563b0b.7e97b4","name":"lights/light2/POWER","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7bef8cd6.5aabe4","x":1080,"y":2240,"wires":[]},{"id":"8f85f9e9.863238","type":"function","z":"d498b966.3334b","g":"534722c6.14fb14","name":"check if light should be turned on/off","func":"msg.topic='lights/light0/cmnd/POWER';\nif(!msg.light0){\n    msg.payload=\"OFF\";\n}else{\n    msg.payload=\"ON\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2160,"wires":[["39ef6008.bf46b","f3f2cd03.189d18"]]},{"id":"5c1b690e.f1d83","type":"function","z":"d498b966.3334b","g":"534722c6.14fb14","name":"check if light should be turned on/off","func":"msg.topic='lights/light1/cmnd/POWER';\nif(!msg.light1){\n    msg.payload=\"OFF\";\n}else{\n    msg.payload=\"ON\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2200,"wires":[["27786da7.f05d22","2dcda958.8e3e6e"]]},{"id":"e15361fe.6d8768","type":"function","z":"d498b966.3334b","g":"534722c6.14fb14","name":"check if light should be turned on/off","func":"msg.topic='lights/light2/cmnd/POWER';\nif(!msg.light2){\n    msg.payload=\"OFF\";\n}else{\n    msg.payload=\"ON\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2240,"wires":[["ce8d6be5.303bb","b87abd79.448f5"]]},{"id":"fe0b8019.d793e","type":"function","z":"d498b966.3334b","g":"534722c6.14fb14","name":"check if light should be turned on/off","func":"msg.topic='lights/light3/cmnd/POWER';\nif(!msg.light3){\n    msg.payload=\"OFF\";\n}else{\n    msg.payload=\"ON\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2280,"wires":[["768b48c3.a095b","e93dbca3.974dd"]]},{"id":"f3f2cd03.189d18","type":"debug","z":"d498b966.3334b","g":"534722c6.14fb14","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":2160,"wires":[]},{"id":"2dcda958.8e3e6e","type":"debug","z":"d498b966.3334b","g":"534722c6.14fb14","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":2200,"wires":[]},{"id":"b87abd79.448f5","type":"debug","z":"d498b966.3334b","g":"534722c6.14fb14","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":2240,"wires":[]},{"id":"e93dbca3.974dd","type":"debug","z":"d498b966.3334b","g":"534722c6.14fb14","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":2280,"wires":[]},{"id":"4cd64ece.5fb29","type":"comment","z":"d498b966.3334b","g":"534722c6.14fb14","name":"get light data from database","info":"","x":360,"y":2120,"wires":[]},{"id":"438ad47d.653ee4","type":"inject","z":"d498b966.3334b","g":"304e6e48.3f0fb2","name":"every 5 mins","props":[],"repeat":"300","crontab":"","once":true,"onceDelay":"8","topic":"","x":140,"y":2680,"wires":[["a91fc941.4c6588"]]},{"id":"a91fc941.4c6588","type":"function","z":"d498b966.3334b","g":"304e6e48.3f0fb2","name":"prepare select statement","func":"var query = \"SELECT digital_output_pin, name, hours_between_waterings, last_watered, water_volume FROM plant;\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":2680,"wires":[["55970bf.1bd48f4"]]},{"id":"55970bf.1bd48f4","type":"mysql","z":"d498b966.3334b","g":"304e6e48.3f0fb2","mydb":"9c4f683a.0fe408","name":"get plants","x":340,"y":2740,"wires":[["bc04f1a1.65c118"]]},{"id":"bc04f1a1.65c118","type":"function","z":"d498b966.3334b","g":"304e6e48.3f0fb2","name":"decide which plants need watered","func":"delete msg.topic;\n\nall_plants = msg.payload;\n\n//makes it easy for the next functions to tell if their plant needs watered without iterating through a loop again\nmsg.plants_that_need_watered = {};\n\nfor(i =  0; i < all_plants.length; i++){\n   \n    digital_output_pin      =   all_plants[i].digital_output_pin;\n    name                    =   all_plants[i].name;\n    hours_between_waterings =   all_plants[i].hours_between_waterings;\n    last_watered            =   all_plants[i].last_watered;\n    water_volume            =   all_plants[i].water_volume;\n    \n    //ignore plants with no watering schedule\n    if(hours_between_waterings == null || water_volume == null){\n        msg.payload[i].water_plant = false;\n        continue;\n    }\n    \n    \n    time_plant_should_be_watered = last_watered;\n    time_plant_should_be_watered.setHours(time_plant_should_be_watered.getHours()+hours_between_waterings);\n    \n    now = new Date();\n    \n    \n    msg.payload[i].now=now;\n    msg.payload[i].time_plant_should_be_watered = time_plant_should_be_watered;\n    msg.payload[i].water_plant = now > time_plant_should_be_watered;\n    \n    if(msg.payload[i].water_plant){\n        \n        // we need to calculate how long we keep the pump on for.\n        //for now, we will assume the pump transfers 50ml/sec\n        length_time = water_volume/50;\n        length_time*=1000;//put it into milliseconds\n        \n        msg.plants_that_need_watered[digital_output_pin]=length_time;\n    }\n    \n}\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":2800,"wires":[["b9c3c574.3cb67","16131562.4bb5cb","c65ae465.9f58d8","75388eda.286af","27f5cf3e.cd436","50ec9b31.67e2c4","f95f5de4.6c71d8","164b032f.8fa7ed"]]},{"id":"16131562.4bb5cb","type":"function","z":"d498b966.3334b","g":"304e6e48.3f0fb2","name":"check if plant 6 needs watered","func":"if(Object.keys(msg.plants_that_need_watered).includes(\"6\")){\n    msg.delay=msg.plants_that_need_watered[6];\n    delete msg.plants_that_need_watered;\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2460,"wires":[["655725e7.c41f54","81f2bf8f.b04478"]]},{"id":"276b446.df8873c","type":"comment","z":"d498b966.3334b","g":"304e6e48.3f0fb2","name":"get plants from database","info":"","x":390,"y":2640,"wires":[]},{"id":"b9c3c574.3cb67","type":"debug","z":"d498b966.3334b","g":"304e6e48.3f0fb2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":2800,"wires":[]},{"id":"c65ae465.9f58d8","type":"function","z":"d498b966.3334b","g":"304e6e48.3f0fb2","name":"check if plant 13 needs watered","func":"if(Object.keys(msg.plants_that_need_watered).includes(\"13\")){\n    msg.delay=msg.plants_that_need_watered[13];\n    delete msg.plants_that_need_watered;\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2600,"wires":[["7f82c517.9ce2cc","fa33beed.72eca"]]},{"id":"75388eda.286af","type":"function","z":"d498b966.3334b","g":"304e6e48.3f0fb2","name":"check if plant 16 needs watered","func":"if(Object.keys(msg.plants_that_need_watered).includes(\"16\")){\n    msg.delay=msg.plants_that_need_watered[16];\n    delete msg.plants_that_need_watered;\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2740,"wires":[["21ec359e.841b42","eb1083cb.7fee5"]]},{"id":"27f5cf3e.cd436","type":"function","z":"d498b966.3334b","g":"304e6e48.3f0fb2","name":"check if plant 20 needs watered","func":"if(Object.keys(msg.plants_that_need_watered).includes(\"20\")){\n    msg.delay=msg.plants_that_need_watered[20];\n    delete msg.plants_that_need_watered;\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":2880,"wires":[["d293b372.33d7c","b4de6174.40a2"]]},{"id":"50ec9b31.67e2c4","type":"function","z":"d498b966.3334b","g":"304e6e48.3f0fb2","name":"check if plant 21 needs watered","func":"if(Object.keys(msg.plants_that_need_watered).includes(\"21\")){\n    msg.delay=msg.plants_that_need_watered[21];\n    delete msg.plants_that_need_watered;\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":3020,"wires":[["1d21b84e.d47a28","a6610b55.930488"]]},{"id":"f95f5de4.6c71d8","type":"function","z":"d498b966.3334b","g":"304e6e48.3f0fb2","name":"check if plant 26 needs watered","func":"if(Object.keys(msg.plants_that_need_watered).includes(\"26\")){\n    msg.delay=msg.plants_that_need_watered[26];\n    delete msg.plants_that_need_watered;\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":3160,"wires":[["eaa2a3fd.d1872","e5eecf8.9c1a73"]]},{"id":"282b74db.791aac","type":"function","z":"d498b966.3334b","g":"8f32a95a.25db88","name":"prepare update statement","func":"\nvar query = \"UPDATE plant SET last_watered = CURRENT_TIMESTAMP where digital_output_pin = 6;\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":2460,"wires":[["9cabcc05.cacb1"]]},{"id":"9cabcc05.cacb1","type":"mysql","z":"d498b966.3334b","g":"8f32a95a.25db88","mydb":"9c4f683a.0fe408","name":"update last_watered","x":1500,"y":2500,"wires":[[]]},{"id":"901fe321.beb02","type":"mysql","z":"d498b966.3334b","g":"8f32a95a.25db88","mydb":"9c4f683a.0fe408","name":"update last_watered","x":1500,"y":2640,"wires":[[]]},{"id":"fcceb285.ef96a8","type":"function","z":"d498b966.3334b","g":"8f32a95a.25db88","name":"prepare update statement","func":"\nvar query = \"UPDATE plant SET last_watered = CURRENT_TIMESTAMP where digital_output_pin = 13;\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":2600,"wires":[["901fe321.beb02"]]},{"id":"9a83f915.980628","type":"mysql","z":"d498b966.3334b","g":"8f32a95a.25db88","mydb":"9c4f683a.0fe408","name":"update last_watered","x":1500,"y":2780,"wires":[[]]},{"id":"d44d4b6.91e06b8","type":"function","z":"d498b966.3334b","g":"8f32a95a.25db88","name":"prepare update statement","func":"\nvar query = \"UPDATE plant SET last_watered = CURRENT_TIMESTAMP where digital_output_pin = 16;\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":2740,"wires":[["9a83f915.980628"]]},{"id":"c33792d.f37777","type":"mysql","z":"d498b966.3334b","g":"8f32a95a.25db88","mydb":"9c4f683a.0fe408","name":"update last_watered","x":1500,"y":2920,"wires":[[]]},{"id":"97d339e0.f502a","type":"function","z":"d498b966.3334b","g":"8f32a95a.25db88","name":"prepare update statement","func":"\nvar query = \"UPDATE plant SET last_watered = CURRENT_TIMESTAMP where digital_output_pin = 20;\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":2880,"wires":[["c33792d.f37777"]]},{"id":"e2116c9f.0f20e","type":"mysql","z":"d498b966.3334b","g":"8f32a95a.25db88","mydb":"9c4f683a.0fe408","name":"update last_watered","x":1500,"y":3060,"wires":[[]]},{"id":"5a37b07e.e711e8","type":"function","z":"d498b966.3334b","g":"8f32a95a.25db88","name":"prepare update statement","func":"\nvar query = \"UPDATE plant SET last_watered = CURRENT_TIMESTAMP where digital_output_pin = 21;\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":3020,"wires":[["e2116c9f.0f20e"]]},{"id":"e837e81b.3da728","type":"mysql","z":"d498b966.3334b","g":"8f32a95a.25db88","mydb":"9c4f683a.0fe408","name":"update last_watered","x":1500,"y":3200,"wires":[[]]},{"id":"4b861a8b.00ef64","type":"function","z":"d498b966.3334b","g":"8f32a95a.25db88","name":"prepare update statement","func":"\nvar query = \"UPDATE plant SET last_watered = CURRENT_TIMESTAMP where digital_output_pin = 26;\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1520,"y":3160,"wires":[["e837e81b.3da728"]]},{"id":"71cedd6e.bd4bfc","type":"rpi-gpio out","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"turn OFF pump","pin":"26","set":false,"level":"1","freq":"","out":"out","bcm":true,"x":1220,"y":3240,"wires":[]},{"id":"14fe2b70.aabe35","type":"function","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"set pump off","func":"msg.payload=true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":3240,"wires":[["71cedd6e.bd4bfc"]]},{"id":"eaa2a3fd.d1872","type":"delay","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"Delay","pauseType":"delayv","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":3200,"wires":[["14fe2b70.aabe35"]]},{"id":"e5eecf8.9c1a73","type":"function","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"set pump on","func":"msg.payload=false;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":3160,"wires":[["4b861a8b.00ef64","22fced60.b6a572"]]},{"id":"22fced60.b6a572","type":"rpi-gpio out","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"turn ON pump","pin":"26","set":false,"level":"0","freq":"","out":"out","bcm":true,"x":1220,"y":3200,"wires":[]},{"id":"911629a3.c1276","type":"rpi-gpio out","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"turn OFF pump","pin":"21","set":false,"level":"1","freq":"","out":"out","bcm":true,"x":1220,"y":3100,"wires":[]},{"id":"7e24f010.617a08","type":"function","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"set pump off","func":"msg.payload=true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":3100,"wires":[["911629a3.c1276"]]},{"id":"1d21b84e.d47a28","type":"delay","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"Delay","pauseType":"delayv","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":3060,"wires":[["7e24f010.617a08"]]},{"id":"a6610b55.930488","type":"function","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"set pump on","func":"msg.payload=false;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":3020,"wires":[["5a37b07e.e711e8","a07f2f43.eea98"]]},{"id":"a07f2f43.eea98","type":"rpi-gpio out","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"turn ON pump","pin":"21","set":false,"level":"0","freq":"","out":"out","bcm":true,"x":1220,"y":3060,"wires":[]},{"id":"903175a7.f37b1","type":"rpi-gpio out","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"turn OFF pump","pin":"20","set":false,"level":"1","freq":"","out":"out","bcm":true,"x":1220,"y":2960,"wires":[]},{"id":"8d4530dd.d2f7","type":"function","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"set pump off","func":"msg.payload=true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":2960,"wires":[["903175a7.f37b1"]]},{"id":"d293b372.33d7c","type":"delay","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"Delay","pauseType":"delayv","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":2920,"wires":[["8d4530dd.d2f7"]]},{"id":"b4de6174.40a2","type":"function","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"set pump on","func":"msg.payload=false;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":2880,"wires":[["97d339e0.f502a","9ecdad13.4c473"]]},{"id":"9ecdad13.4c473","type":"rpi-gpio out","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"turn ON pump","pin":"20","set":false,"level":"0","freq":"","out":"out","bcm":true,"x":1220,"y":2920,"wires":[]},{"id":"2fb0f818.237b98","type":"rpi-gpio out","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"turn OFF pump","pin":"16","set":false,"level":"1","freq":"","out":"out","bcm":true,"x":1220,"y":2820,"wires":[]},{"id":"25ef90a3.ac7188","type":"function","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"set pump off","func":"msg.payload=true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":2820,"wires":[["2fb0f818.237b98"]]},{"id":"21ec359e.841b42","type":"delay","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"Delay","pauseType":"delayv","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":2780,"wires":[["25ef90a3.ac7188"]]},{"id":"eb1083cb.7fee5","type":"function","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"set pump on","func":"msg.payload=false;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":2740,"wires":[["d44d4b6.91e06b8","9a45bf91.4a165"]]},{"id":"9a45bf91.4a165","type":"rpi-gpio out","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"turn ON pump","pin":"16","set":false,"level":"0","freq":"","out":"out","bcm":true,"x":1220,"y":2780,"wires":[]},{"id":"b7d539eb.1d6bd8","type":"rpi-gpio out","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"turn OFF pump","pin":"13","set":false,"level":"1","freq":"","out":"out","bcm":true,"x":1220,"y":2680,"wires":[]},{"id":"44488882.ec3618","type":"function","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"set pump off","func":"msg.payload=true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":2680,"wires":[["b7d539eb.1d6bd8"]]},{"id":"7f82c517.9ce2cc","type":"delay","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"Delay","pauseType":"delayv","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":2640,"wires":[["44488882.ec3618"]]},{"id":"fa33beed.72eca","type":"function","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"set pump on","func":"msg.payload=false;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":2600,"wires":[["fcceb285.ef96a8","6fbbe64.023fd98"]]},{"id":"6fbbe64.023fd98","type":"rpi-gpio out","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"turn ON pump","pin":"13","set":false,"level":"0","freq":"","out":"out","bcm":true,"x":1220,"y":2640,"wires":[]},{"id":"a2fbf345.bb10d8","type":"rpi-gpio out","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"turn OFF pump","pin":"6","set":false,"level":"1","freq":"","out":"out","bcm":true,"x":1220,"y":2540,"wires":[]},{"id":"a9552894.7c59a8","type":"function","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"set pump off","func":"msg.payload=true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":2540,"wires":[["a2fbf345.bb10d8"]]},{"id":"655725e7.c41f54","type":"delay","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"Delay","pauseType":"delayv","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030,"y":2500,"wires":[["a9552894.7c59a8"]]},{"id":"81f2bf8f.b04478","type":"function","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"set pump on","func":"msg.payload=false;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":2460,"wires":[["282b74db.791aac","1f3fb4ba.6b64a3"]]},{"id":"1f3fb4ba.6b64a3","type":"rpi-gpio out","z":"d498b966.3334b","g":"dd3b561.0ce6728","name":"turn ON pump","pin":"6","set":false,"level":"0","freq":"","out":"out","bcm":true,"x":1220,"y":2500,"wires":[]},{"id":"164b032f.8fa7ed","type":"function","z":"d498b966.3334b","g":"304e6e48.3f0fb2","name":"create message","func":"if (Object.keys(msg.plants_that_need_watered).length == 0) {\n    return null;\n}\n\nmsg.topic=\"Plant(s) being watered.\";\nmsg.payload=\"The plant(s) with the following ID are being watered: \" + Object.keys(msg.plants_that_need_watered);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":2940,"wires":[["209fd343.d3be1c"]]},{"id":"209fd343.d3be1c","type":"ui_toast","z":"d498b966.3334b","g":"304e6e48.3f0fb2","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"tell user plants are being watered","x":420,"y":2980,"wires":[]},{"id":"503c68e4.092ba","type":"inject","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"every 5 mins","props":[],"repeat":"300","crontab":"","once":true,"onceDelay":"8","topic":"","x":140,"y":3620,"wires":[["63a651e4.f1de38"]]},{"id":"63a651e4.f1de38","type":"function","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"prepare select statement","func":"var query = \"SELECT plant.`digital_output_pin`, plant.`last_watered`, plant.`target_moisture`, moisture_sensor.sensor_id FROM plant INNER JOIN moisture_sensor ON plant.`digital_output_pin`=moisture_sensor.`plant_digital_output_pin` ;\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":3620,"wires":[["8b54476.b93c838"]]},{"id":"8b54476.b93c838","type":"mysql","z":"d498b966.3334b","g":"f8ff2e26.454668","mydb":"9c4f683a.0fe408","name":"get plants","x":340,"y":3680,"wires":[["d2d07b4c.449388"]]},{"id":"d2d07b4c.449388","type":"function","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"get plants that use feedback loop irrigation","func":"delete msg.topic;\n\nall_plants = msg.payload;\n\n//makes it easy for the next functions to tell if their plant needs watered without iterating through a loop again\nmsg.plants_and_their_moisture_sensor = {};\nmsg.plants_and_their_target_moisture = {};\n\n\nfor(i =  0; i < all_plants.length; i++){\n   \n    digital_output_pin      =   all_plants[i].digital_output_pin;\n    last_watered            =   all_plants[i].last_watered;\n    target_moisture         =   all_plants[i].target_moisture;\n    sensor_id               =   all_plants[i].sensor_id;\n    \n    //ignore plants with no watering schedule\n    if(target_moisture == null){\n        msg.payload[i].water_plant = false;\n        continue;\n    }\n    \n    msg.plants_and_their_moisture_sensor[digital_output_pin] = sensor_id;\n    msg.plants_and_their_target_moisture[digital_output_pin] = target_moisture;\n}\ndelete msg.payload;\n\nmsg.delay=5000;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":3740,"wires":[["ef27eda1.74f42","ae1087d0.34e26","e5a7efc.e907f9","a657ca27.ca8d88","80afc45d.dd63c","2fc2c10e.e4077e","cc5b2dbe.b44fe","719e3f7d.c95b98"]]},{"id":"ae1087d0.34e26","type":"function","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"check if plant 6 needs watered","func":"if(Object.keys(msg.plants_and_their_moisture_sensor).includes(\"6\")){\n    \n    // delete msg.plants_that_need_watered;\n    msg.topic=\"SELECT units FROM (SELECT * FROM moisture WHERE sensor_id='\"+msg.plants_and_their_moisture_sensor[\"6\"]+\"' ORDER BY measurement_datetime DESC LIMIT 3) t ORDER BY measurement_datetime ASC ;\";\n    \n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":3400,"wires":[["c9e41839.3f847"]]},{"id":"749b3aa1.fa67dc","type":"comment","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"get plants from database","info":"","x":390,"y":3580,"wires":[]},{"id":"ef27eda1.74f42","type":"debug","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":3820,"wires":[]},{"id":"8a9f3885.4b79e","type":"function","z":"d498b966.3334b","g":"e3524a13.c8a068","name":"prepare update statement","func":"\nvar query = \"UPDATE plant SET last_watered = CURRENT_TIMESTAMP where digital_output_pin = 6;\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":3400,"wires":[["9d861608.4c7588"]]},{"id":"9d861608.4c7588","type":"mysql","z":"d498b966.3334b","g":"e3524a13.c8a068","mydb":"9c4f683a.0fe408","name":"update last_watered","x":1620,"y":3440,"wires":[[]]},{"id":"d18372a3.ce6918","type":"mysql","z":"d498b966.3334b","g":"e3524a13.c8a068","mydb":"9c4f683a.0fe408","name":"update last_watered","x":1620,"y":3580,"wires":[[]]},{"id":"4711dbc2.86109c","type":"function","z":"d498b966.3334b","g":"e3524a13.c8a068","name":"prepare update statement","func":"\nvar query = \"UPDATE plant SET last_watered = CURRENT_TIMESTAMP where digital_output_pin = 13;\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":3540,"wires":[["d18372a3.ce6918"]]},{"id":"108fade2.8df5fa","type":"mysql","z":"d498b966.3334b","g":"e3524a13.c8a068","mydb":"9c4f683a.0fe408","name":"update last_watered","x":1620,"y":3720,"wires":[[]]},{"id":"c2d4a5fd.555d5","type":"function","z":"d498b966.3334b","g":"e3524a13.c8a068","name":"prepare update statement","func":"\nvar query = \"UPDATE plant SET last_watered = CURRENT_TIMESTAMP where digital_output_pin = 16;\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":3680,"wires":[["108fade2.8df5fa"]]},{"id":"b756d9b6.1c8698","type":"mysql","z":"d498b966.3334b","g":"e3524a13.c8a068","mydb":"9c4f683a.0fe408","name":"update last_watered","x":1620,"y":3860,"wires":[[]]},{"id":"f5d28465.b82dd8","type":"function","z":"d498b966.3334b","g":"e3524a13.c8a068","name":"prepare update statement","func":"\nvar query = \"UPDATE plant SET last_watered = CURRENT_TIMESTAMP where digital_output_pin = 20;\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":3820,"wires":[["b756d9b6.1c8698"]]},{"id":"59f59958.a08eb","type":"mysql","z":"d498b966.3334b","g":"e3524a13.c8a068","mydb":"9c4f683a.0fe408","name":"update last_watered","x":1620,"y":4000,"wires":[[]]},{"id":"f41bf4b.f63c588","type":"function","z":"d498b966.3334b","g":"e3524a13.c8a068","name":"prepare update statement","func":"\nvar query = \"UPDATE plant SET last_watered = CURRENT_TIMESTAMP where digital_output_pin = 21;\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":3960,"wires":[["59f59958.a08eb"]]},{"id":"6afea694.baecc","type":"mysql","z":"d498b966.3334b","g":"e3524a13.c8a068","mydb":"9c4f683a.0fe408","name":"update last_watered","x":1620,"y":4140,"wires":[[]]},{"id":"c1be87f2.1dc5a8","type":"function","z":"d498b966.3334b","g":"e3524a13.c8a068","name":"prepare update statement","func":"\nvar query = \"UPDATE plant SET last_watered = CURRENT_TIMESTAMP where digital_output_pin = 26;\";\n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":4100,"wires":[["6afea694.baecc"]]},{"id":"c116c6c7.55bcb","type":"rpi-gpio out","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"turn OFF pump","pin":"26","set":false,"level":"1","freq":"","out":"out","bcm":true,"x":1340,"y":4180,"wires":[]},{"id":"2adb3f04.e858b8","type":"function","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"set pump off","func":"msg.payload=true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":4180,"wires":[["c116c6c7.55bcb"]]},{"id":"ce18ce30.5ddca8","type":"delay","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"Delay","pauseType":"delayv","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1150,"y":4140,"wires":[["2adb3f04.e858b8"]]},{"id":"276aa8ec.83c84","type":"function","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"set pump on","func":"msg.payload=false;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":4100,"wires":[["c1be87f2.1dc5a8","ffe440c5.c5bc98"]]},{"id":"ffe440c5.c5bc98","type":"rpi-gpio out","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"turn ON pump","pin":"26","set":false,"level":"0","freq":"","out":"out","bcm":true,"x":1340,"y":4140,"wires":[]},{"id":"65e1c9d8.e18ff8","type":"rpi-gpio out","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"turn OFF pump","pin":"21","set":false,"level":"1","freq":"","out":"out","bcm":true,"x":1340,"y":4040,"wires":[]},{"id":"f4089e84.d09f98","type":"function","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"set pump off","func":"msg.payload=true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":4040,"wires":[["65e1c9d8.e18ff8"]]},{"id":"7a096c28.89a8c4","type":"delay","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"Delay","pauseType":"delayv","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1150,"y":4000,"wires":[["f4089e84.d09f98"]]},{"id":"44a4a3a8.3baddc","type":"function","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"set pump on","func":"msg.payload=false;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":3960,"wires":[["f41bf4b.f63c588","dd7f6ccb.6bcac8"]]},{"id":"dd7f6ccb.6bcac8","type":"rpi-gpio out","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"turn ON pump","pin":"21","set":false,"level":"0","freq":"","out":"out","bcm":true,"x":1340,"y":4000,"wires":[]},{"id":"4718af52.7d5b98","type":"rpi-gpio out","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"turn OFF pump","pin":"20","set":false,"level":"1","freq":"","out":"out","bcm":true,"x":1340,"y":3900,"wires":[]},{"id":"4bf8b80.cb7f548","type":"function","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"set pump off","func":"msg.payload=true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":3900,"wires":[["4718af52.7d5b98"]]},{"id":"24102e99.12db3a","type":"delay","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"Delay","pauseType":"delayv","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1150,"y":3860,"wires":[["4bf8b80.cb7f548"]]},{"id":"607048ae.f046d","type":"function","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"set pump on","func":"msg.payload=false;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":3820,"wires":[["f5d28465.b82dd8","afed436c.d412f8"]]},{"id":"afed436c.d412f8","type":"rpi-gpio out","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"turn ON pump","pin":"20","set":false,"level":"0","freq":"","out":"out","bcm":true,"x":1340,"y":3860,"wires":[]},{"id":"388f98a3.bc1c1","type":"rpi-gpio out","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"turn OFF pump","pin":"16","set":false,"level":"1","freq":"","out":"out","bcm":true,"x":1340,"y":3760,"wires":[]},{"id":"c0af8f0f.326cf8","type":"function","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"set pump off","func":"msg.payload=true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":3760,"wires":[["388f98a3.bc1c1"]]},{"id":"343755d5.b89392","type":"delay","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"Delay","pauseType":"delayv","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1150,"y":3720,"wires":[["c0af8f0f.326cf8"]]},{"id":"fbbd988b.6a8a8","type":"function","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"set pump on","func":"msg.payload=false;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":3680,"wires":[["c2d4a5fd.555d5","de337f14.f18ab"]]},{"id":"de337f14.f18ab","type":"rpi-gpio out","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"turn ON pump","pin":"16","set":false,"level":"0","freq":"","out":"out","bcm":true,"x":1340,"y":3720,"wires":[]},{"id":"9d73bbb5.a35a38","type":"rpi-gpio out","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"turn OFF pump","pin":"13","set":false,"level":"1","freq":"","out":"out","bcm":true,"x":1340,"y":3620,"wires":[]},{"id":"345fe02f.2a0b68","type":"function","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"set pump off","func":"msg.payload=true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":3620,"wires":[["9d73bbb5.a35a38"]]},{"id":"30f1bcb7.f4b55c","type":"delay","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"Delay","pauseType":"delayv","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1150,"y":3580,"wires":[["345fe02f.2a0b68"]]},{"id":"e3142490.fb3bd8","type":"function","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"set pump on","func":"msg.payload=false;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":3540,"wires":[["4711dbc2.86109c","90cef6c7.b8936"]]},{"id":"90cef6c7.b8936","type":"rpi-gpio out","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"turn ON pump","pin":"13","set":false,"level":"0","freq":"","out":"out","bcm":true,"x":1340,"y":3580,"wires":[]},{"id":"65662423.d2af2c","type":"rpi-gpio out","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"turn OFF pump","pin":"6","set":false,"level":"1","freq":"","out":"out","bcm":true,"x":1340,"y":3480,"wires":[]},{"id":"3903b4d5.4d2c5c","type":"function","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"set pump off","func":"msg.payload=true;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":3480,"wires":[["65662423.d2af2c"]]},{"id":"446b4dcb.af12ac","type":"delay","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"Delay","pauseType":"delayv","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1150,"y":3440,"wires":[["3903b4d5.4d2c5c"]]},{"id":"a220d703.85992","type":"function","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"set pump on","func":"msg.payload=false;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":3400,"wires":[["8a9f3885.4b79e","413cf099.565248"]]},{"id":"413cf099.565248","type":"rpi-gpio out","z":"d498b966.3334b","g":"8c044629.8e3cf8","name":"turn ON pump","pin":"6","set":false,"level":"0","freq":"","out":"out","bcm":true,"x":1340,"y":3440,"wires":[]},{"id":"1d95c77e.6084f1","type":"ui_toast","z":"d498b966.3334b","g":"f8ff2e26.454668","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"tell user plants are being watered","x":420,"y":4020,"wires":[]},{"id":"e5a7efc.e907f9","type":"function","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"create message","func":"if (Object.keys(msg.plants_and_their_moisture_sensor).length == 0) {\n    return null;\n}\n\nmsg.topic=\"Plant(s) being watered.\";\nmsg.payload=\"The plant(s) with the following ID are being watered based upon their moisture level: \" + Object.keys(msg.plants_and_their_moisture_sensor);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":3960,"wires":[["1d95c77e.6084f1"]]},{"id":"c9e41839.3f847","type":"mysql","z":"d498b966.3334b","g":"f8ff2e26.454668","mydb":"9c4f683a.0fe408","name":"get measurements","x":850,"y":3440,"wires":[["e6d1eb3e.dae2b8"]]},{"id":"e6d1eb3e.dae2b8","type":"function","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"decide wether to water","func":"total=0;\n\nfor(i = 0; i < msg.payload.length; i++){\n    total+=msg.payload[i].units;\n}\naverage=total/msg.payload.length;\n\nif(average<msg.plants_and_their_target_moisture[\"6\"]){\n    delete msg.topic;\n    delete msg.payload;\n    delete msg.plants_and_their_moisture_sensor;\n    delete msg.plants_and_their_target_moisture;\n    \n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":3480,"wires":[["446b4dcb.af12ac","a220d703.85992"]]},{"id":"a657ca27.ca8d88","type":"function","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"check if plant 13 needs watered","func":"if(Object.keys(msg.plants_and_their_moisture_sensor).includes(\"13\")){\n    \n    // delete msg.plants_that_need_watered;\n    msg.topic=\"SELECT units FROM (SELECT * FROM moisture WHERE sensor_id='\"+msg.plants_and_their_moisture_sensor[\"13\"]+\"' ORDER BY measurement_datetime DESC LIMIT 3) t ORDER BY measurement_datetime ASC ;\";\n    \n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":3540,"wires":[["3a394573.cf09e2"]]},{"id":"3a394573.cf09e2","type":"mysql","z":"d498b966.3334b","g":"f8ff2e26.454668","mydb":"9c4f683a.0fe408","name":"get measurements","x":850,"y":3580,"wires":[["724e8b52.2d1614"]]},{"id":"724e8b52.2d1614","type":"function","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"decide wether to water","func":"total=0;\n\nfor(i = 0; i < msg.payload.length; i++){\n    total+=msg.payload[i].units;\n}\naverage=total/msg.payload.length;\n\nif(average<msg.plants_and_their_target_moisture[\"13\"]){\n    delete msg.topic;\n    delete msg.payload;\n    delete msg.plants_and_their_moisture_sensor;\n    delete msg.plants_and_their_target_moisture;\n    \n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":3620,"wires":[["30f1bcb7.f4b55c","e3142490.fb3bd8"]]},{"id":"80afc45d.dd63c","type":"function","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"check if plant 16 needs watered","func":"if(Object.keys(msg.plants_and_their_moisture_sensor).includes(\"16\")){\n    \n    // delete msg.plants_that_need_watered;\n    msg.topic=\"SELECT units FROM (SELECT * FROM moisture WHERE sensor_id='\"+msg.plants_and_their_moisture_sensor[\"16\"]+\"' ORDER BY measurement_datetime DESC LIMIT 3) t ORDER BY measurement_datetime ASC ;\";\n    \n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":3680,"wires":[["6816d0bb.4a872"]]},{"id":"6816d0bb.4a872","type":"mysql","z":"d498b966.3334b","g":"f8ff2e26.454668","mydb":"9c4f683a.0fe408","name":"get measurements","x":850,"y":3720,"wires":[["f9c076e4.0bc7f"]]},{"id":"f9c076e4.0bc7f","type":"function","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"decide wether to water","func":"total=0;\n\nfor(i = 0; i < msg.payload.length; i++){\n    total+=msg.payload[i].units;\n}\naverage=total/msg.payload.length;\n\nif(average<msg.plants_and_their_target_moisture[\"16\"]){\n    delete msg.topic;\n    delete msg.payload;\n    delete msg.plants_and_their_moisture_sensor;\n    delete msg.plants_and_their_target_moisture;\n    \n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":3760,"wires":[["343755d5.b89392","fbbd988b.6a8a8"]]},{"id":"2fc2c10e.e4077e","type":"function","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"check if plant 20 needs watered","func":"if(Object.keys(msg.plants_and_their_moisture_sensor).includes(\"20\")){\n    \n    // delete msg.plants_that_need_watered;\n    msg.topic=\"SELECT units FROM (SELECT * FROM moisture WHERE sensor_id='\"+msg.plants_and_their_moisture_sensor[\"20\"]+\"' ORDER BY measurement_datetime DESC LIMIT 3) t ORDER BY measurement_datetime ASC ;\";\n    \n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":3820,"wires":[["c29da838.18e4d8"]]},{"id":"c29da838.18e4d8","type":"mysql","z":"d498b966.3334b","g":"f8ff2e26.454668","mydb":"9c4f683a.0fe408","name":"get measurements","x":850,"y":3860,"wires":[["b6e2a29.8ddc8e"]]},{"id":"b6e2a29.8ddc8e","type":"function","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"decide wether to water","func":"total=0;\n\nfor(i = 0; i < msg.payload.length; i++){\n    total+=msg.payload[i].units;\n}\naverage=total/msg.payload.length;\n\nif(average<msg.plants_and_their_moisture_sensor[\"20\"]){\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":3900,"wires":[["24102e99.12db3a","607048ae.f046d"]]},{"id":"cc5b2dbe.b44fe","type":"function","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"check if plant 21 needs watered","func":"if(Object.keys(msg.plants_and_their_moisture_sensor).includes(\"21\")){\n    \n    // delete msg.plants_that_need_watered;\n    msg.topic=\"SELECT units FROM (SELECT * FROM moisture WHERE sensor_id='\"+msg.plants_and_their_moisture_sensor[\"21\"]+\"' ORDER BY measurement_datetime DESC LIMIT 3) t ORDER BY measurement_datetime ASC ;\";\n    \n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":3960,"wires":[["55cd723c.3dcd74"]]},{"id":"55cd723c.3dcd74","type":"mysql","z":"d498b966.3334b","g":"f8ff2e26.454668","mydb":"9c4f683a.0fe408","name":"get measurements","x":850,"y":4000,"wires":[["eaabff23.60d7a8"]]},{"id":"eaabff23.60d7a8","type":"function","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"decide wether to water","func":"total=0;\n\nfor(i = 0; i < msg.payload.length; i++){\n    total+=msg.payload[i].units;\n}\naverage=total/msg.payload.length;\n\nif(average<msg.plants_and_their_target_moisture[\"21\"]){\n    delete msg.topic;\n    delete msg.payload;\n    delete msg.plants_and_their_moisture_sensor;\n    delete msg.plants_and_their_target_moisture;\n    \n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":4040,"wires":[["7a096c28.89a8c4","44a4a3a8.3baddc"]]},{"id":"719e3f7d.c95b98","type":"function","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"check if plant 26 needs watered","func":"if(Object.keys(msg.plants_and_their_moisture_sensor).includes(\"26\")){\n    \n    // delete msg.plants_that_need_watered;\n    msg.topic=\"SELECT units FROM (SELECT * FROM moisture WHERE sensor_id='\"+msg.plants_and_their_moisture_sensor[\"26\"]+\"' ORDER BY measurement_datetime DESC LIMIT 3) t ORDER BY measurement_datetime ASC ;\";\n    \n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":4100,"wires":[["dba35ae0.9eb3c8"]]},{"id":"dba35ae0.9eb3c8","type":"mysql","z":"d498b966.3334b","g":"f8ff2e26.454668","mydb":"9c4f683a.0fe408","name":"get measurements","x":850,"y":4140,"wires":[["a9c56ca4.5d2318"]]},{"id":"a9c56ca4.5d2318","type":"function","z":"d498b966.3334b","g":"f8ff2e26.454668","name":"decide wether to water","func":"total=0;\n\nfor(i = 0; i < msg.payload.length; i++){\n    total+=msg.payload[i].units;\n}\naverage=total/msg.payload.length;\n\nif(average<msg.plants_and_their_target_moisture[\"26\"]){\n    delete msg.topic;\n    delete msg.payload;\n    delete msg.plants_and_their_moisture_sensor;\n    delete msg.plants_and_their_target_moisture;\n    \n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":4180,"wires":[["ce18ce30.5ddca8","276aa8ec.83c84"]]},{"id":"4dfb19.c5446ce8","type":"usbcamera","z":"d498b966.3334b","g":"e1e620fc.86d97","filemode":"1","filename":"image01.jpg","filedefpath":"1","filepath":"/home/nol/node-red-static/","fileformat":"jpeg","resolution":"5","name":"","x":110,"y":4380,"wires":[["1934a06b.240d08"]]},{"id":"c5ffb655.8916b","type":"inject","z":"d498b966.3334b","g":"805b6373.c7878","name":"every 2 mins","props":[{"p":"complete","v":"","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":"4","topic":"","x":160,"y":180,"wires":[["e6cb858b.6b4e6","63bf9f7c.f468c","7bd8168.af06ae8","539ebcbc.22833c"]]},{"id":"88ea433a.fd0898","type":"debug","z":"d498b966.3334b","g":"805b6373.c7878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":140,"wires":[]},{"id":"539ebcbc.22833c","type":"join","z":"d498b966.3334b","g":"805b6373.c7878","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":80,"wires":[["cabadbbd.b1b518","88ea433a.fd0898"]]},{"id":"63bf9f7c.f468c","type":"join","z":"d498b966.3334b","g":"805b6373.c7878","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":200,"wires":[["cabadbbd.b1b518"]]},{"id":"7bd8168.af06ae8","type":"join","z":"d498b966.3334b","g":"805b6373.c7878","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":140,"wires":[["cabadbbd.b1b518"]]},{"id":"e6cb858b.6b4e6","type":"join","z":"d498b966.3334b","g":"805b6373.c7878","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":260,"wires":[["cabadbbd.b1b518"]]},{"id":"91fd189d.b936a","type":"comment","z":"d498b966.3334b","g":"805b6373.c7878","name":"Use only most recent measurement","info":"","x":560,"y":60,"wires":[]},{"id":"7dbee384.19878c","type":"inject","z":"d498b966.3334b","g":"d9a99a04.d4b21","name":"every 2 mins","props":[{"p":"complete","v":"","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":"4","topic":"","x":140,"y":480,"wires":[["8a33feff.3bd138"]]},{"id":"8a33feff.3bd138","type":"join","z":"d498b966.3334b","g":"d9a99a04.d4b21","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":350,"y":480,"wires":[["3433b6f7.1035b2","22f494dd.994504"]]},{"id":"50411ec8.2a82c","type":"inject","z":"d498b966.3334b","g":"c268a84c.0312c8","name":"every 2 mins","props":[{"p":"complete","v":"","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":"4","topic":"","x":1040,"y":480,"wires":[["7c65b5ef.c8c28c"]]},{"id":"7c65b5ef.c8c28c","type":"join","z":"d498b966.3334b","g":"c268a84c.0312c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1230,"y":480,"wires":[["379ad6b8.b12b7a","6e34fe9b.343c7"]]},{"id":"1934a06b.240d08","type":"file in","z":"d498b966.3334b","g":"e1e620fc.86d97","name":"","filename":"/home/pi/Pictures/image01.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":170,"y":4440,"wires":[["c8f46051.1b20e"]]},{"id":"c8f46051.1b20e","type":"function","z":"d498b966.3334b","g":"e1e620fc.86d97","name":"jpg encode buffer","func":"var getImageResult = msg.payload;\nvar b64encoded = getImageResult.toString('base64');\nmsg.payload = \"data:image/jpg;base64,\" + b64encoded;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":4500,"wires":[["e1593d20.85c36"]]},{"id":"e1593d20.85c36","type":"ui_template","z":"d498b966.3334b","g":"e1e620fc.86d97","group":"bed5363c.24a3b8","name":"html image in ui_template","order":0,"width":"12","height":"12","format":"<img ng-src=\"{{msg.payload}}\"/>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":150,"y":4560,"wires":[[]]},{"id":"73538808.cbe06","type":"ui_button","z":"d498b966.3334b","g":"e1e620fc.86d97","name":"","group":"bed5363c.24a3b8","order":1,"width":0,"height":0,"passthru":false,"label":"Display photo of plants","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":4320,"wires":[["4dfb19.c5446ce8"]]},{"id":"2d961332.306f6c","type":"comment","z":"d498b966.3334b","g":"d9a99a04.d4b21","name":"Use only most recent measurement","info":"","x":520,"y":380,"wires":[]},{"id":"d549464d.264b68","type":"comment","z":"d498b966.3334b","g":"c268a84c.0312c8","name":"Use only most recent measurement","info":"","x":1400,"y":380,"wires":[]},{"id":"7bef8cd6.5aabe4","type":"mqtt-broker","name":"","broker":"192.168.1.220","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"eaa5af4.992ed5","type":"ui_group","name":"Add plant","tab":"8dcbf937.321f08","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5be02032.b6027","type":"ui_group","name":"switches","tab":"64d6d866.55def","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9c4f683a.0fe408","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"plant_database","tz":"","charset":"UTF8"},{"id":"6ca4c848.a08c08","type":"ui_group","name":"guages","tab":"64d6d866.55def","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bb6ff19c.3e51e","type":"ui_group","name":"Assign moisture to plants","tab":"660a03ba.bcf51c","order":1,"disp":true,"width":"7","collapse":false,"className":""},{"id":"d70dbf53.f9519","type":"ui_group","name":"Override switches","tab":"f3d007e8.e28478","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ebcddff6.a75cf","type":"ui_group","name":"Plants","tab":"660a03ba.bcf51c","order":2,"disp":true,"width":"12","collapse":false,"className":""},{"id":"927ec1cd.f6b488","type":"ui_group","name":"Assign lights to plants","tab":"f3d007e8.e28478","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5835b8.d911b248","type":"ui_group","name":"Information","tab":"f3d007e8.e28478","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"5a92952e.3e5134","type":"ui_group","name":"Assign on/off times to lights","tab":"f3d007e8.e28478","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bed5363c.24a3b8","type":"ui_group","name":"Camera","tab":"fbd536a.22bf9c8","order":2,"disp":true,"width":"12","collapse":false,"className":""},{"id":"8dcbf937.321f08","type":"ui_tab","name":"Add Plant","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"64d6d866.55def","type":"ui_tab","name":"Plants","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"660a03ba.bcf51c","type":"ui_tab","name":"Assign moisture sensors","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"f3d007e8.e28478","type":"ui_tab","name":"Lights","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"fbd536a.22bf9c8","type":"ui_tab","name":"Home","icon":"dashboard"}]